@charset "UTF-8";
* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

.project-summaries .project .detail-row .value, .project-summaries .project .detail-row .detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: #313131 transparent;
  scroll-behavior: auto;
}

body {
  background-color: #f0f1f2;
  color: #313131;
  background-image: url(../img/cork-wallet.png);
  scroll-behavior: smooth;
  font-family: "Yrsa", serif;
}

img {
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 105%;
}

P {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.5em;
}
ul li {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
header.left-side {
  padding: 1em;
  background: #e4e72c;
  color: #313131;
  font-size: 22px;
}
header.left-side h1 {
  padding-right: 0.25em;
  line-height: 115%;
}
header.left-side a {
  color: #ac4b06;
  text-decoration: none;
}
header.left-side a.homelink {
  color: currentColor;
}
header.left-side a.homelink:hover {
  color: #ac4b06;
}
header.left-side ul {
  padding-left: 0;
}
header.left-side li {
  list-style: none;
}
header.left-side li span {
  line-height: 160%;
  font-size: 1.35em;
}
header.left-side li .icon {
  display: inline-block;
  margin-right: 0.5em;
  fill: currentColor;
}
header.left-side li a:hover span {
  text-decoration: underline;
}
header.left-side li a:hover .icon {
  transform: scale(1.25);
}
header.left-side li a.twitter {
  opacity: 0.85;
}
header.left-side li a.twitter span {
  text-decoration: line-through;
  text-decoration-thickness: 0.15em;
  text-decoration-color: rgba(172, 75, 6, 0.75);
}

@media screen and (max-width: 887px) {
  header.left-side {
    position: relative;
    margin-bottom: 1em;
  }
  header.left-side h1 {
    font-size: 8.5vw;
    text-align: center;
  }
  header.left-side h1 .big {
    font-size: 1.5em;
  }
  header.left-side ul {
    text-align: center;
  }
  header.left-side ul li {
    display: inline-block;
  }
  header.left-side ul li .icon {
    height: 36px;
  }
  header.left-side ul li span {
    display: none;
  }
  header.left-side ul li .twitter {
    position: relative;
  }
  header.left-side ul li .twitter:after {
    content: "X";
    position: absolute;
    left: 0.35em;
    top: 0;
    line-height: 0.2;
    font-size: 1.5em;
    font-weight: 825;
    color: rgba(228, 231, 44, 0.75);
  }
}
@media screen and (min-width: 888px) {
  header.left-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    box-shadow: inset 0 0 0.5em rgba(49, 49, 49, 0.95);
  }
  header.left-side h1 {
    font-size: 1.9em;
    margin-bottom: 0.5em;
  }
  header.left-side h1 .big {
    font-size: 2.21em;
  }
  header.left-side p {
    font-size: 24px;
  }
  header.left-side ul {
    position: absolute;
    right: 1em;
    bottom: 1em;
    left: 1em;
  }
  header.left-side li .icon {
    height: 1em;
  }
}
.project-summaries {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-gap: 30px;
}
.project-summaries .project {
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
  background: white;
}
.project-summaries .project .inside {
  height: 100%;
}
.project-summaries .project .image-holder {
  background-size: cover;
  padding: 10px;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.project-summaries .project .image-holder a:hover img, .project-summaries .project .image-holder.focus img {
  transform: scale(1.09);
}
.project-summaries .project .image-holder .absolute-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.25s ease;
}
.project-summaries .project .image-holder .absolute-link:hover, .project-summaries .project .image-holder .absolute-link:focus {
  transform: scale(1.2);
}
.project-summaries .project figcaption {
  padding: 20px;
}
.project-summaries .project .title {
  font-size: 215%;
  font-weight: 400;
  line-height: 100%;
  word-break: break-word;
  padding-bottom: 10px;
}
.project-summaries .project .title a {
  color: #ac4b06;
  text-decoration: none;
}
.project-summaries .project .title a:hover {
  text-decoration: underline;
}
.project-summaries .project .subhead {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-bottom: 10px;
}
.project-summaries .project .description {
  font-size: 120%;
}
.project-summaries .project .description a {
  color: #ac4b06;
  text-decoration: none;
}
.project-summaries .project .description a:hover, .project-summaries .project .description a:focus {
  text-decoration: underline;
}
.project-summaries .project .description p:last-of-type {
  margin-bottom: 0;
}
.project-summaries .project .detail-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
}
.project-summaries .project .detail-row .invisible {
  display: none;
}
.project-summaries .project .detail-row .label {
  font-size: 80%;
  text-transform: uppercase;
}
.project-summaries .project .detail-row .value {
  display: block;
  font-size: 125%;
}
.project-summaries .project .detail-row .repository a {
  color: #ac4b06;
  text-decoration: none;
}
.project-summaries .project .detail-row .repository a:hover {
  text-decoration: underline;
}
.project-summaries .project {
  container-type: inline-size;
  container-name: project-card;
}
@container project-card (min-width: 500px) {
  .project-summaries .inside {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .project-summaries .image-holder img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .project-summaries figcaption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@container project-card (max-width: 499px) {
  .project-summaries .inside {
    display: flex;
    flex-direction: column;
  }
  .project-summaries .image-holder {
    height: 100px;
  }
  .project-summaries .image-holder img {
    height: 100%;
    width: auto;
  }
  .project-summaries figcaption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.project-summaries .new-talkbox {
  background: #1c1b1b;
  color: #eee;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.project-summaries .new-talkbox .talkbox-header {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 10px;
  padding: 5px 20px;
}
.project-summaries .new-talkbox .talkbox-header h2 {
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 180%;
}
.project-summaries .new-talkbox .talkbox-header h2 sub {
  bottom: 0;
}
.project-summaries .new-talkbox .talkbox-header .more-holder {
  text-align: right;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.project-summaries .new-talkbox .talkbox-header .more-holder a {
  font-size: 130%;
  color: #e98741;
  text-decoration: none;
}
.project-summaries .new-talkbox .talkbox-header .more-holder a:hover {
  text-decoration: underline;
}
.project-summaries .new-talkbox .conference-boxes {
  display: flex;
  overflow-x: auto;
  height: 100%;
  gap: 20px;
  margin-top: 10px;
  padding: 20px;
  scroll-snap-type: x mandatory;
  scrollbar-width: initial;
  scrollbar-gutter: stable;
  scrollbar-color: #e4e72c transparent;
  scroll-behavior: auto;
}
.project-summaries .new-talkbox .conference-boxes .conference {
  flex-shrink: 0;
  flex-grow: 1;
  background: #1c1b1b;
  color: #eee;
  height: unset;
}
.project-summaries .new-talkbox .conference-boxes .conference .name {
  font-size: 180%;
}
.project-summaries .new-talkbox .conference-boxes .conference a {
  color: #e98741;
  text-decoration: none;
}
.project-summaries .new-talkbox .conference-boxes .conference a:hover {
  text-decoration: underline;
}
.project-summaries .new-talkbox .conference-boxes .conference .location {
  font-size: 135%;
}
.project-summaries .new-talkbox .conference-boxes .conference .presenting {
  margin-top: 0.7em;
}
.project-summaries .new-talkbox .conference-boxes .conference .multiple-talks li {
  margin-bottom: 0.4em;
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements {
  white-space: nowrap;
  margin-left: 0.5em;
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements .keynote,
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements .workshop,
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements .blind-deck,
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements .host {
  font-weight: 700;
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements:before {
  content: " ( ";
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements > span:after {
  content: " | ";
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements > span:last-child:after {
  content: "";
}
.project-summaries .new-talkbox .conference-boxes .conference .talk-supplements:after {
  content: " )";
}
.project-summaries .new-talkbox .conference-boxes .conference.upcoming {
  scroll-snap-align: end;
  flex-basis: calc(50% - 20px);
  min-width: 320px;
}
.project-summaries .new-talkbox .conference-boxes .conference.prev {
  scroll-snap-align: start;
  min-height: 300px;
  flex-basis: 300px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.project-summaries .new-talkbox .conference-boxes .conference.prev img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.project-summaries .new-talkbox .conference-boxes .conference.prev figcaption {
  background: linear-gradient(rgba(28, 27, 27, 0), rgba(28, 27, 27, 0.99));
  padding: 80px 10px 10px 10px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.project-summaries .new-talkbox {
  container-type: inline-size;
}
@container (max-width:520px) {
  .project-summaries .new-talkbox .talkbox-header {
    grid-template-columns: 1fr;
  }
  .project-summaries .new-talkbox .conference-boxes .conference.upcoming {
    flex-basis: calc(100% - 40px);
  }
}

@media (min-width: 2150px) {
  .project-summaries {
    grid-template-columns: repeat(3, calc(33.333333% - 15px));
  }
}
@media (max-width: 1550px) {
  .project-summaries {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1170px) and (max-width: 1550px) {
  .project-summaries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 888px) and (max-width: 940px) {
  .project-summaries {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 610px) {
  .project-summaries {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 888px) {
  main {
    margin-left: 320px;
    padding-top: 2em;
  }
}
.client-site-callout {
  border: 3px solid rgba(49, 49, 49, 0.3);
  color: #444;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-site-callout .title {
  font-size: 240%;
  font-weight: 725;
}
.client-site-callout .cta {
  font-size: 160%;
  padding-top: 20px;
}
.client-site-callout a {
  color: #ac4b06;
  text-decoration: none;
}
.client-site-callout a:hover, .client-site-callout a:focus {
  text-decoration: underline;
}

section.client-site-overview {
  grid-column: 1/-1;
}

section.client-site-tech {
  grid-column: 1/-1;
  padding: 30px 20px 20px 20px;
  background: rgba(102, 102, 102, 0.1);
  border: 3px solid rgba(49, 49, 49, 0.3);
  color: #666;
}
section.client-site-tech h2 {
  margin-bottom: 20px;
}
section.client-site-tech .tech {
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
section.client-site-tech .tech > * {
  flex-basis: 160px;
  flex-shrink: 1;
}
section.client-site-tech .tech .icon-and-name {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 10px;
  margin-bottom: 20px;
}
section.client-site-tech .tech .icon-and-name svg {
  fill: #666;
}
section.client-site-tech .tech .name {
  display: flex;
  align-items: center;
  font-size: 135%;
  font-weight: 600;
}

.client-site {
  display: grid;
  grid-template-columns: 460px 1fr 76px;
  grid-gap: 40px;
  background: white;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.client-site figure {
  grid-row: span 1;
}
.client-site figure .screenshots {
  position: relative;
  padding: 0 0 50px 0;
}
.client-site figure .screenshots:not(.slick-initialized) {
  opacity: 0;
}
.client-site figure .screenshots .slick-list {
  background-image: url(../img/client-sites/browser.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 19px 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}
.client-site figure .screenshots .slick-dots {
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.client-site figure .screenshots .slick-dots li {
  display: inline-block;
  padding: 0 0.5em 0 0;
}
.client-site figure .screenshots .slick-dots li button {
  display: inline-block;
  line-height: 1.3em;
  height: 1em;
  width: 1em;
  background: transparent;
  background: rgba(49, 49, 49, 0.2);
  border: none;
  transition: background 0.2s linear;
  border-radius: 50%;
  font-family: "Yrsa", serif;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.client-site figure .screenshots .slick-dots li.slick-active button {
  background: #313131;
  cursor: default;
}
.client-site figcaption {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.client-site .title {
  line-height: 100%;
  word-break: break-word;
}
.client-site .title span {
  background: linear-gradient(36deg, rgba(228, 231, 44, 0.5), rgba(228, 231, 44, 0.25));
  padding: 4px 24px 3px 13px;
  transform: translateX(-13px);
  display: inline-block;
}
.client-site .subhead {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.client-site .description {
  line-height: 1.4;
  max-width: 68ch;
}
.client-site .description p:last-of-type {
  margin-bottom: 0;
}
.client-site .visit-site {
  font-size: 0.85rem;
}
.client-site .visit-site a {
  color: #ac4b06;
  text-decoration: none;
  text-transform: uppercase;
}
.client-site .visit-site a:hover, .client-site .visit-site a:focus {
  text-decoration: underline;
}
.client-site p {
  margin-bottom: 1em;
}
.client-site ol {
  list-style-type: decimal;
  margin-bottom: 1em;
}
.client-site ol li {
  margin-left: 1.25em;
}
.client-site .tech {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.client-site div.tech-icon {
  cursor: help;
  position: relative;
}
.client-site div.tech-icon span {
  position: absolute;
  background: #313131;
  color: #eee;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  pointer-events: none;
}
.client-site div.tech-icon span:after {
  content: "";
  background: #313131;
  display: block;
  position: absolute;
}
.client-site div.tech-icon span {
  opacity: 0;
  transition: opacity 0.35s linear, transform 0.35s ease;
}
.client-site div.tech-icon:hover span, .client-site div.tech-icon:focus span {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
.client-site.featured .tech-icon span {
  right: 3em;
  top: calc(50% - 1.1em);
  transform: translateX(32px);
}
.client-site.featured .tech-icon span:after {
  width: 0.75em;
  height: 1.72em;
  top: 0em;
  right: -0.7em;
  bottom: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.client-site.secondary .tech-icon span {
  top: -52px;
  left: -10px;
  transform: translateY(32px);
}
.client-site.secondary .tech-icon span:after {
  width: 32px;
  height: 18px;
  left: 10px;
  bottom: -17px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}
.client-site .tech .php {
  fill: #777BB4;
}
.client-site .tech .sass {
  fill: #CC6699;
}
.client-site .tech .javascript {
  fill: #F7DF1E;
}
.client-site .tech .pug {
  fill: #A86454;
}
.client-site .tech .yaml {
  fill: #444;
}
.client-site .tech .twig {
  fill: #78DC50;
}
.client-site .tech .dotnet {
  fill: #512BD4;
}
.client-site .tech .gutenberg {
  fill: #000000;
}
.client-site .tech .vue {
  fill: #4FC08D;
}
.client-site .tech .jquery {
  fill: #0769AD;
}
.client-site .tech .aos {
  fill: #26a;
}
.client-site .tech .lottie {
  fill: #2BEAED;
}
.client-site .tech .howler {
  fill: #786956;
}
.client-site .tech .scrollmagic {
  fill: #3b46a0;
}
.client-site .tech .json {
  fill: #000000;
}
.client-site .tech .kirby {
  fill: #000000;
}
.client-site .tech .concrete5 {
  fill: #017ddd;
}
.client-site .tech .craft {
  fill: #E5422B;
}
.client-site .tech .drupal {
  fill: #0678BE;
}
.client-site .tech .azure {
  fill: #0078D4;
}
.client-site .tech .untappd {
  fill: #FFC000;
}
.client-site .tech .matomo {
  fill: #3152A0;
}
.client-site .tech .jwplayer {
  fill: #ec0041;
}
.client-site .tech .vimeo {
  fill: #1AB7EA;
}
.client-site .tech .platform-sh {
  fill: #1A182A;
}
.client-site .tech .xata * {
  fill: #8B6FFB;
}
.client-site .tech .typescript {
  fill: #3178C6;
}
.client-site .tech .vite {
  fill: #646CFF;
}
.client-site .tech .wordpress {
  fill: #21759B;
}
.client-site .tech span {
  font-weight: 625;
  background: #101010;
}
.client-site .tech span:after {
  background: #101010;
}
.client-site.featured .title {
  font-size: 215%;
}
.client-site.featured .description {
  font-size: 120%;
}
.client-site.secondary {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.client-site.secondary .title {
  font-size: 175%;
}
.client-site.secondary .title span {
  transform: unset;
  margin-bottom: 0.25em;
}
.client-site.secondary .subhead {
  margin-bottom: unset;
}
.client-site.secondary figure {
  padding: 0;
  margin-top: 0.5rem;
}
.client-site.secondary figure .screenshot {
  background-image: url(../img/client-sites/browser.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 18px 1px 1px 1px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.client-site.secondary figcaption {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 10px;
}
.client-site.secondary .visit-site {
  padding-top: 1rem;
}
.client-site.secondary .tech {
  flex-direction: row;
  order: 3;
}
.client-site.secondary .tech svg {
  height: 32px;
  width: 32px;
}
.client-site .no-js-carousel {
  background-image: url(../img/client-sites/browser2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 20px 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.client-site .no-js-carousel .shots {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.client-site .no-js-carousel .shot {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

@media (min-width: 1401px) {
  .client-sites {
    grid-template-columns: repeat(3, 1fr);
  }
  .client-site.featured {
    grid-column: span 3;
  }
}
@media (max-width: 1400px) {
  .client-sites {
    grid-template-columns: repeat(2, 1fr);
  }
  .client-site.featured {
    grid-column: span 2;
  }
}
@media (max-width: 1240px) {
  .client-site.featured {
    grid-template-columns: 1fr;
  }
  .client-site.featured .screenshots-carousel-wrapper {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}
@media (max-width: 1240px) and (max-width: 590px) {
  .client-site.featured .screenshots-carousel-wrapper {
    width: 360px;
  }
}
@media (max-width: 1240px) and (max-width: 430px) {
  .client-site.featured .screenshots-carousel-wrapper {
    width: 260px;
  }
}
@media (max-width: 1240px) {
  .client-site.featured .tech {
    flex-direction: row;
    gap: 10px;
    flex-grow: 0;
  }
  .client-site.featured .tech .tooltip {
    flex-basis: 42px;
  }
}
@media (max-width: 700px) {
  .client-sites {
    grid-template-columns: 1fr;
  }
  .client-site.featured {
    grid-column: span 1;
  }
}
@media (max-width: 510px) {
  .client-site.featured {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .client-site.featured .tech {
    grid-column: 1;
    grid-row: span 1;
    flex-direction: row;
  }
  .client-site.featured .tech svg {
    height: 32px;
    width: 32px;
  }
}
.talk-grid {
  display: grid;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.talk-grid .conference {
  background-color: white;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
  padding: 15px;
  position: relative;
  min-height: 240px;
}
.talk-grid .conference img.flag {
  width: 3rem;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  outline: 1px solid rgba(68, 68, 68, 0.35);
}
.talk-grid .conference img.virtual-icon {
  width: 3rem;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.talk-grid .conference .name {
  font-size: 210%;
}
.talk-grid .conference a {
  color: #ac4b06;
  text-decoration: none;
}
.talk-grid .conference a:hover {
  text-decoration: underline;
}
.talk-grid .conference .location {
  font-size: 115%;
  letter-spacing: 0.1em;
}
.talk-grid .conference .date {
  font-weight: bold;
}
.talk-grid .conference .presenting {
  margin-top: 0.5em;
}
.talk-grid .conference .multiple-talks li {
  margin-bottom: 0.4em;
}
.talk-grid .conference .talk-supplements {
  white-space: nowrap;
}
.talk-grid .conference .talk-supplements .keynote, .talk-grid .conference .talk-supplements .workshop, .talk-grid .conference .talk-supplements .blind-deck {
  font-weight: 700;
}
.talk-grid .conference .talk-supplements:before {
  content: " ( ";
}
.talk-grid .conference .talk-supplements > span:after {
  content: " | ";
}
.talk-grid .conference .talk-supplements > span:last-child:after {
  content: "";
}
.talk-grid .conference .talk-supplements:after {
  content: " )";
}
.talk-grid .conference.photo-background {
  min-height: 22rem;
}
@media (min-width: 771px) {
  .talk-grid .conference.photo-background {
    grid-row: span 2;
    grid-column: span 2;
  }
}
.talk-grid .airport-map {
  margin: unset;
  padding: unset;
  background-color: red;
}
.talk-grid .airport-map iframe {
  aspect-ratio: 5/3;
  width: 100%;
  margin: unset;
  padding: unset;
  margin-bottom: -7px;
}
@media (min-width: 771px) {
  .talk-grid .airport-map {
    grid-column: span 2;
  }
}
.talk-grid .leading h2 {
  font-weight: 300;
  font-size: 260%;
  letter-spacing: 0.1em;
  padding-top: 1em;
}
.talk-grid .conference {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 16rem;
}
.talk-grid .conference > * {
  flex-basis: 100%;
}
.talk-grid .pics {
  z-index: 3;
  padding-top: 2rem;
}
.talk-grid .pics .pic {
  padding: 0;
  border: none;
  background-size: cover;
  display: inline-block;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  position: relative;
}
.talk-grid .pics .pic img {
  height: 72px;
  width: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.talk-grid .pics .pic:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ac4b06;
  content: "";
  display: block;
  mix-blend-mode: color;
  opacity: 0;
}
.talk-grid .pics .pic:hover:before, .talk-grid .pics .pic:focus:before, .talk-grid .pics .pic:active:before, .talk-grid .pics .pic.active:before {
  opacity: 0.5;
}
.talk-grid .pics .pic.inactive {
  opacity: 0.5;
}
.talk-grid .pics .pic.inactive:hover, .talk-grid .pics .pic.inactive:focus {
  opacity: 1;
}
.talk-grid .pics .close-cardpic {
  position: absolute;
  top: 0;
  right: 0.75rem;
  font-size: 36px;
  display: none;
  text-decoration: none;
  color: #ac4b06;
  background-color: transparent;
  border: none;
  font-family: "Yrsa", serif;
}
.talk-grid .pics .close-cardpic:hover, .talk-grid .pics .close-cardpic:focus {
  color: white;
  text-shadow: 0 0 3px black;
}
.talk-grid .cardpic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  display: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.talk-grid .photo-background {
  min-height: 22rem;
}
.talk-grid .photo-background .pics .close-cardpic {
  display: block;
  cursor: pointer;
}
.talk-grid .photo-background .cardpic {
  display: block;
}
.talk-grid figure.map {
  background-image: url(../img/worldmap.png);
  background-size: cover;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 270px;
  border: 4px solid rgba(49, 49, 49, 0.3);
}
.talk-grid figure.map a {
  color: #ac4b06;
  text-decoration: none;
  font-size: 46px;
  font-weight: 400;
}
.talk-grid figure.map a:hover {
  text-decoration: underline;
}
.talk-grid figure.decks {
  border: 4px solid rgba(49, 49, 49, 0.3);
  color: #444;
  background: rgba(68, 68, 68, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talk-grid figure.decks a {
  color: #ac4b06;
  text-decoration: none;
  font-size: 32px;
}
.talk-grid figure.decks a:hover {
  text-decoration: underline;
}
.talk-grid .back-home {
  border: 4px solid rgba(49, 49, 49, 0.3);
  color: #444;
  background: rgba(68, 68, 68, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talk-grid .back-home a {
  color: #ac4b06;
  text-decoration: none;
  font-size: 32px;
}
.talk-grid .back-home a:hover {
  text-decoration: underline;
}
.talk-grid .all-stamps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.talk-grid .passport-stamps {
  grid-column: span 3;
  background-image: url(../img/passport-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 4em;
}
.talk-grid .passport-stamps h3 {
  margin-bottom: 1em;
}
.talk-grid .passport-stamps .stamp {
  display: inline-flex;
  padding: 10px;
  gap: 0.5em;
  flex-basis: 24ch;
  flex-shrink: 1;
  border: 3px solid rgba(0, 0, 0, 0.25);
  filter: grayscale(0.4);
  background-color: rgba(0, 0, 0, 0.05);
}
.talk-grid .passport-stamps .stamp .icon {
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talk-grid .passport-stamps .stamp .icon img {
  width: 100%;
}
.talk-grid .passport-stamps .stamp .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}
.talk-grid .passport-stamps .stamp .count {
  flex-basis: 2ch;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (min-width: 401px) {
  .talk-grid {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
@media (max-width: 400px) {
  .talk-grid {
    grid-template-columns: 1fr;
  }
}

.deck-grid .deck {
  background-color: white;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
  padding: 15px;
  position: relative;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.deck-grid .deck .title {
  font-size: 210%;
  margin-bottom: 10px;
  font-weight: 570;
  color: #313131;
}
.deck-grid .deck table {
  width: 100%;
}
.deck-grid .deck table td {
  padding: 4px 0;
  vertical-align: middle;
}
.deck-grid .deck table td.location {
  width: 40px;
}
.deck-grid .deck table td.location.country img {
  outline: 1px solid rgba(68, 68, 68, 0.35);
}
.deck-grid .deck table td.conf {
  font-size: 125%;
  font-weight: 600;
  padding-left: 10px;
}
.deck-grid .deck table td.conf .video {
  font-size: 75%;
  font-weight: 600;
  vertical-align: middle;
}
.deck-grid .deck table td.conf .video:before {
  content: " | ";
}
.deck-grid .deck table td.conf .video a {
  text-decoration: none;
  color: #ac4b06;
}
.deck-grid .deck table td.conf .video a:hover, .deck-grid .deck table td.conf .video a:focus {
  text-decoration: underline;
}
.deck-grid .deck table td.conf .keynote {
  font-size: 75%;
  font-weight: 800;
  vertical-align: middle;
}
.deck-grid .deck table td.conf .keynote:before {
  content: " | ";
}
.deck-grid .deck table td.icon {
  text-align: center;
  width: 50px;
}
.deck-grid .deck table td.icon svg {
  width: 26px;
}
.deck-grid .deck table td.icon svg * {
  fill: #313131;
}
.deck-grid .deck table td.link {
  font-size: 115%;
  font-weight: 625;
}
.deck-grid .deck table td.link a {
  color: #ac4b06;
  text-decoration: none;
}
.deck-grid .deck table td.link a:hover, .deck-grid .deck table td.link a:focus {
  text-decoration: underline;
}
.deck-grid .deck .deck-links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.deck-grid .deck .deck-links > * {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.deck-grid .deck .deck-links .icon {
  flex-basis: 40px;
  flex-grow: 0;
}
.deck-grid .deck .deck-links .icon svg {
  width: 32px;
}
.deck-grid .deck .deck-links .icon svg * {
  fill: #676767;
}
.deck-grid .deck .deck-links .link {
  font-size: 135%;
  font-weight: 625;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.deck-grid .deck .deck-links .link a {
  color: #ac4b06;
  text-decoration: none;
}
.deck-grid .deck .deck-links .link a:hover, .deck-grid .deck .deck-links .link a:focus {
  text-decoration: underline;
}
.deck-grid .deck .deck-links .logo {
  flex-basis: 100%;
  text-align: right;
}
.deck-grid .deck .deck-links .logo img {
  width: 72px;
}

.slick-slider .slick-arrow {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  font-family: "Yrsa", serif;
  font-size: 240%;
  color: #e98741;
  z-index: 3;
  cursor: pointer;
}
.slick-slider .slick-arrow:hover, .slick-slider .slick-arrow:active {
  transform: scale(1.2);
}
.slick-slider .slick-prev {
  left: 10px;
}
.slick-slider .slick-next {
  right: 10px;
}
.slick-slider .slick-slide {
  cursor: grab;
}
.slick-slider .slick-slide:active {
  cursor: grabbing;
}
.slick-slider button {
  outline: none;
}
.slick-slider.talks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slick-slider.talks .slick-list {
  height: 100%;
  padding-top: 85px;
  padding-left: 15px;
  padding-right: 15px;
}
.slick-slider .slick-dots {
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 7px;
  left: 0;
  padding: 0 40px;
}
.slick-slider .slick-dots li {
  display: inline-block;
  padding: 0 0.5em 0 0;
}
.slick-slider .slick-dots li button {
  display: inline-block;
  line-height: 1.3em;
  height: 1em;
  width: 1em;
  background: transparent;
  background: #e98741;
  border: none;
  transition: background 0.2s linear;
  border-radius: 50%;
  font-family: "Yrsa", serif;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.slick-slider .slick-dots li button:hover, .slick-slider .slick-dots li button:focus { /*background: lighten($lightOrange,20%); */
  transform: scale(1.15);
}
.slick-slider .slick-dots li.slick-active button {
  background: #eee;
  cursor: default;
}

section.fullpage {
  background: white;
  display: block;
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
  background: white;
  border: 1px solid rgba(49, 49, 49, 0.3);
  box-shadow: 0 0 0.3em rgba(49, 49, 49, 0.75);
  font-size: 22px;
  max-width: 880px;
}
section.fullpage h1 {
  margin-bottom: 0.25em;
}
section.fullpage h3 {
  margin-bottom: 0.25em;
}
section.fullpage .stamp {
  display: block;
  margin-bottom: 0.5em;
}
section.fullpage time {
  font-weight: bold;
}
section.fullpage a {
  color: #ac4b06;
  font-weight: bold;
  text-decoration: none;
}
section.fullpage a:hover {
  text-decoration: underline;
}
section.fullpage ul {
  margin-bottom: 1.5em;
}
section.fullpage ul li {
  margin-bottom: 0.25em;
}
section.fullpage ol {
  margin-bottom: 1.5em;
}
section.fullpage ol li {
  margin-bottom: 0.5em;
  list-style-type: decimal;
  margin-left: 1.5em;
}

ul.things {
  margin-left: 0.5em;
  padding: 0;
}
ul.things li {
  list-style-type: none;
}
ul.things li:before {
  content: "⚫️";
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 0.5em;
  font-size: 60%;
}
ul.things li.yes:before {
  content: "💚";
}
ul.things li.no:before {
  content: "💔";
}

span.yes:before {
  content: "💚";
  font-size: 65%;
}

span.no:before {
  content: "💔";
  font-size: 65%;
}

main.error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
main.error-404 .inner {
  padding: 40px;
  background: white;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}
main.error-404 h1 {
  font-size: 32dvw;
  line-height: 70%;
}
main.error-404 h2 {
  font-weight: 300;
}