@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

.project-summaries .project .detail-row .value, .project-summaries .project .detail-row .detail {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #f0f1f2;
  color: #313131;
  background-image: url(../img/cork-wallet.png);
  font-family: "Yrsa", serif;
}

img {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 105%;
}

P {
  margin-bottom: 1em;
}

ul {
  padding-left: 1.5em;
}
ul li {
  list-style-type: disc;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
aside {
  padding: 1em;
  background: #e4e72c;
  color: #313131;
  font-size: 22px;
}
aside h1 {
  padding-right: 0.25em;
  line-height: 115%;
}
aside a {
  color: #c85c0d;
  text-decoration: none;
}
aside a.homelink {
  color: currentColor;
}
aside a.homelink:hover {
  color: #c85c0d;
}
aside ul {
  padding-left: 0;
}
aside li {
  list-style: none;
}
aside li span {
  line-height: 160%;
  font-size: 1.35em;
}
aside li .icon {
  display: inline-block;
  margin-right: 0.5em;
  fill: currentColor;
}
aside li a:hover span {
  text-decoration: underline;
}
aside li a:hover .icon {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

@media screen and (max-width: 887px) {
  aside {
    position: relative;
    margin-bottom: 1em;
  }
  aside h1 {
    font-size: 8.5vw;
    text-align: center;
  }
  aside h1 .big {
    font-size: 1.5em;
  }
  aside ul {
    text-align: center;
  }
  aside ul li {
    display: inline-block;
  }
  aside ul li .icon {
    height: 36px;
  }
  aside ul li span {
    display: none;
  }
}
@media screen and (min-width: 888px) {
  aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    -webkit-box-shadow: inset 0 0 0.5em rgba(49, 49, 49, 0.95);
            box-shadow: inset 0 0 0.5em rgba(49, 49, 49, 0.95);
  }
  aside h1 {
    font-size: 1.9em;
    margin-bottom: 0.5em;
  }
  aside h1 .big {
    font-size: 2.21em;
  }
  aside p {
    font-size: 24px;
  }
  aside ul {
    position: absolute;
    right: 1em;
    bottom: 1em;
    left: 1em;
  }
  aside li .icon {
    height: 1em;
  }
}
.project-summaries {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 15px) 30px calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-gap: 30px;
}
.project-summaries .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 20px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  background: white;
  -webkit-box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
          box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
}
.project-summaries .project figure {
  background-size: cover;
  padding: 10px;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  background-position: center;
  position: relative;
}
@media (pointer: fine) {
  .project-summaries .project figure a:hover img {
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
  }
}
.project-summaries .project figure .absolute-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
.project-summaries .project figure .absolute-link:hover {
  background-size: 170%;
}
.project-summaries .project figcaption {
  padding: 10px;
}
.project-summaries .project .title {
  font-size: 215%;
  line-height: 100%;
  padding-top: 10px;
  word-break: break-word;
}
.project-summaries .project .title a {
  color: #c85c0d;
  text-decoration: none;
}
.project-summaries .project .title a:hover {
  text-decoration: underline;
}
.project-summaries .project .subhead {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 1em;
}
.project-summaries .project .description {
  font-size: 120%;
}
.project-summaries .project .description p:last-of-type {
  margin-bottom: 0;
}
.project-summaries .project .detail-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 10px;
  padding-left: 10px;
}
.project-summaries .project .detail-row .label {
  font-size: 80%;
}
.project-summaries .project .detail-row .value {
  display: block;
  font-size: 140%;
}
.project-summaries .project .detail-row .repository a {
  color: #c85c0d;
  text-decoration: none;
}
.project-summaries .project .detail-row .repository a:hover {
  text-decoration: underline;
}
.project-summaries .conference {
  background: #eee;
  color: #313131;
  padding: 15px;
  margin-right: 15px;
  height: 260px;
}
.project-summaries .conference.prev {
  background-size: cover;
  background-position: center;
  position: relative;
}
.project-summaries .conference.prev figcaption {
  background: rgba(238, 238, 238, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #313131;
}
.project-summaries .conference.prev figcaption .name {
  font-size: 130%;
}
.project-summaries .conference.prev figcaption .location {
  font-size: 120%;
}
.project-summaries .conference .name {
  font-size: 180%;
}
.project-summaries .conference a {
  color: #c85c0d;
  text-decoration: none;
}
.project-summaries .conference a:hover {
  text-decoration: underline;
}
.project-summaries .conference .location {
  font-size: 135%;
}
.project-summaries .conference .presenting {
  margin-top: 0.7em;
}
.project-summaries .conferences {
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #313131;
  color: #eee;
  -webkit-box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
          box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
}
.project-summaries .conferences .slider-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 120px;
  grid-template-columns: 1fr 120px;
  grid-gap: 10px;
  padding: 5px 15px;
}
.project-summaries .conferences .slider-header h2 {
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 180%;
}
.project-summaries .conferences .slider-header h2 sub {
  bottom: 0;
}
.project-summaries .conferences .slider-header .more-holder {
  text-align: right;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}
.project-summaries .conferences .slider-header .more-holder a {
  font-size: 130%;
  color: #c85c0d;
  text-decoration: none;
}
.project-summaries .conferences .slider-header .more-holder a:hover {
  text-decoration: underline;
}
.project-summaries .conferences .slick-slider {
  padding-bottom: 40px;
}
.project-summaries .conferences .slick-initialized.slick-slider {
  margin-right: -15px;
}
.project-summaries .conferences .slick-arrow {
  bottom: 5px;
  height: 30px;
  line-height: 30px;
}
.project-summaries .conferences .slick-arrow.slick-next {
  right: 20px;
}
.project-summaries .conferences .slick-dots {
  display: block;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  padding: 0 40px;
}
.project-summaries .conferences .slick-dots li {
  display: inline-block;
  padding: 0 0.5em 0 0;
}
.project-summaries .conferences .slick-dots li button {
  display: inline-block;
  line-height: 1.3em;
  height: 1em;
  width: 1em;
  background: transparent;
  background: #c85c0d;
  border: none;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  border-radius: 50%;
  font-family: "Yrsa", serif;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999px;
}
.project-summaries .conferences .slick-dots li.slick-active button {
  background: #eee;
  cursor: default;
}

@media (min-width: 1888px) {
  .project-summaries {
    -ms-grid-columns: calc(33.333333% - 15px) 30px calc(33.333333% - 15px) 30px calc(33.333333% - 15px);
    grid-template-columns: repeat(3, calc(33.333333% - 15px));
  }
}
@media (max-width: 1350px) {
  .project-summaries .project {
    -ms-grid-columns: 120px 20px 1fr;
    grid-template-columns: 120px 1fr;
  }
}
@media (max-width: 1170px) {
  .project-summaries .project {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .project-summaries .project figure {
    height: 64px;
  }
  .project-summaries .project figure img {
    height: 100%;
  }
}
@media (min-width: 888px) and (max-width: 940px) {
  .project-summaries {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}
@media (max-width: 502px) {
  .project-summaries {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 888px) {
  main {
    margin-left: 320px;
    padding-top: 2em;
  }
}
.talk-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.talk-grid .conference {
  background-color: white;
  -webkit-box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
          box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
  padding: 15px;
  position: relative;
  min-height: 240px;
}
.talk-grid .conference .name {
  font-size: 210%;
}
.talk-grid .conference a {
  color: #c85c0d;
  text-decoration: none;
}
.talk-grid .conference a:hover {
  text-decoration: underline;
}
.talk-grid .conference .location {
  font-size: 115%;
  letter-spacing: 0.1em;
}
.talk-grid .conference .date {
  font-weight: bold;
}
.talk-grid .conference .presenting {
  margin-top: 0.5em;
}
.talk-grid .leading h2 {
  font-weight: 300;
  font-size: 260%;
  letter-spacing: 0.1em;
  padding-top: 1em;
}
.talk-grid .conference {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 64px;
  grid-template-columns: 1fr 64px;
  grid-gap: 15px;
}
.talk-grid .pics {
  position: relative;
  z-index: 3;
}
.talk-grid .pics a.pic {
  background-size: cover;
  height: 64px;
  width: 64px;
  display: block;
  margin-bottom: 5px;
  background-position: center;
  cursor: pointer;
  border: 4px solid transparent;
  background-repeat: no-repeat;
}
.talk-grid .pics a.pic:hover {
  border-color: #c85c0d;
}
.talk-grid .pics a.close-cardpic {
  font-size: 48px;
  text-align: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eee;
  display: none;
  cursor: pointer;
}
.talk-grid .pics a.close-cardpic:hover {
  color: #c85c0d;
  text-decoration: none;
}
.talk-grid .pics a.close-cardpic.visible {
  display: block;
  min-height: 200px;
}
.talk-grid .cardpic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  display: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
.talk-grid .cardpic.visible {
  display: block;
}
.talk-grid figure.map {
  background-image: url(../img/worldmap.png);
  background-size: cover;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 270px;
  -webkit-box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
          box-shadow: -0.075em -0.075em 0.15em rgba(49, 49, 49, 0.75);
}
.talk-grid figure.map a {
  color: #c85c0d;
  text-decoration: none;
  text-shadow: -2px -2px 1px rgba(49, 49, 49, 0.7);
  font-size: 46px;
  font-weight: 300;
}
.talk-grid figure.map a:hover span {
  border-top: 2px solid #313131;
  border-bottom: 2px solid #313131;
}
.talk-grid .back-home {
  background: #313131;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
}
.talk-grid .back-home a {
  color: #c85c0d;
  text-decoration: none;
  font-size: 32px;
}
.talk-grid .back-home a:hover {
  text-decoration: underline;
}

.carousel:not(.slick-initialized) {
  display: none !important;
}

@media (min-width: 401px) {
  .talk-grid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
@media (max-width: 400px) {
  .talk-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.slick-slider .slick-arrow {
  background: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  font-family: "Yrsa", serif;
  font-size: 240%;
  color: #c85c0d;
  z-index: 3;
  cursor: pointer;
}
.slick-slider .slick-arrow:hover, .slick-slider .slick-arrow:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.slick-slider .slick-prev {
  left: 10px;
}
.slick-slider .slick-next {
  right: 10px;
}
.slick-slider button {
  outline: none;
}
.slick-slider.talks {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slick-slider.talks .slick-list {
  height: 100%;
  padding-top: 85px;
  padding-left: 15px;
  padding-right: 15px;
}

section.fullpage {
  background: white;
  display: block;
  width: 100%;
  padding: 2em;
  margin-bottom: 2em;
  background: white;
  border: 1px solid rgba(49, 49, 49, 0.3);
  -webkit-box-shadow: 0 0 0.3em rgba(49, 49, 49, 0.75);
          box-shadow: 0 0 0.3em rgba(49, 49, 49, 0.75);
  font-size: 22px;
  max-width: 880px;
}
section.fullpage h1 {
  margin-bottom: 0.25em;
}
section.fullpage .stamp {
  display: block;
  margin-bottom: 0.5em;
}
section.fullpage time {
  font-weight: bold;
}
section.fullpage a {
  color: #c85c0d;
  font-weight: bold;
  text-decoration: none;
}
section.fullpage a:hover {
  text-decoration: underline;
}
section.fullpage ul {
  margin-bottom: 1em;
}
section.fullpage ul li {
  margin-bottom: 0.25em;
}
section.fullpage ol {
  margin-bottom: 1em;
}
section.fullpage ol li {
  margin-bottom: 0.5em;
  list-style-type: decimal;
  margin-left: 1.5em;
}

ul.things {
  margin-left: 0.5em;
  padding: 0;
}
ul.things li {
  list-style-type: none;
}
ul.things li:before {
  content: "⚫️";
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 0.5em;
  font-size: 60%;
}
ul.things li.yes:before {
  content: "💚";
}
ul.things li.no:before {
  content: "💔";
}

span.yes:before {
  content: "💚";
  font-size: 65%;
}

span.no:before {
  content: "💔";
  font-size: 65%;
}
/*# sourceMappingURL=ahoylemon.css.map */