

-
  const clientSites = [

    {
      title: "StrongHearts Helpline",
      url: "https://adycenter.org",
      tech: [ "PHP", "Scss", "YAML", "AOS.js", "JavaScript", "Matomo"],
      cms: "Kirby",
      client: "Domestic Violence Helpline",
      screenshots: [
        "sh1.jpg","sh2.jpg","sh3.jpg","sh4.jpg", "sh5.jpg"
      ],
      description: "<p>The StrongHearts organization had a very distinct need to provide resources for people trapped in situations of domestic violence.</p><p>They needed a site which would provide fast and relianble help to those in need, while also being discrete and respectful of the privacy and situations of its vistors.</p><p>This website was built thoughtfully for growth and measurability, while avoiding all Big Data solutons.</p>"
    },

    {
      title: "pxlclix",
      url: "https://pxlclix.com",
      tech: [ "PHP", "Azure", "JWPlayer", "Matomo", "Vue",  "Scss" ],
      cms: "Kirby",
      client: "Video Streaming Service",
      description:`
        <p>A simple problem exposes a some real logistical and technical challenges: Independent entertainers (comedians, bands, film groups) have to tour with their own merch, or pay an insane cut to someone else.<p>
        <p>The purpose of pxlclix is to simplify the Merch Stand: Sell a card. The card has a code, and the code gets you streaming video.</p>
        <p>The site checks against a database of generated codes and matches which cards have been used, and when.
      `,
      screenshots: [
        "pxlclix1.jpg", "pxlclix2.jpg", "pxlclix3.jpg", "pxlclix4.jpg"
      ]
    },

    { 
      title: "Ramada Minneapolis",
      tech: [ "PHP", "Pug", "Scss", "jQuery" ],
      cms: "Kirby",
      client: "Hotel Franchisee",
      description: `
        <p>As a franchisee, the Ramada in Minneapolis was running into a problem: The web support they were receiving from corporate was slow and underwhelming. They wanted a web experience that lived up to their brand.</p>
        <p>This website was created specifically for them, with an eye on event hosting as well as room rental, and bragged about their newly purchased amenities.</p>
      `,
      screenshots: [
        "ramada1.jpg", "ramada2.jpg", "ramada3.jpg", "ramada4.jpg"
      ]
    },
    {
      title: "Warner Law",
      url: null,
      tech: [ "PHP", "Vue", "AOS.js", "Scss", "JavaScript"],
      cms: "Kirby",
      client: "Collections-Focused Law Firm",
      screenshots: [
        "warner1.jpg", "warner2.jpg", "warner3.jpg", "warner4.jpg"
      ]
    },
    {
      title: "Grumpy's Bar",
      url: "https://grumpys.bar",
      tech: [ "PHP", "Untappd", "Scss", "Javascript"],
      cms: "Kirby",
      client: "A Local Favorite Bar",
      //description: "<p>Grumpy's has also been a local favorite, but with multiple locations, ever-changing special events, and the havok of COVID on the service industry, they needed something that speak to customers new and old, syncing with Google Places, Untappd, and whatever else thirsty people are using.",
      screenshots: [
        "grumpys-1.jpg"
      ],
    },

    {
      title: "Ain Dah Yung Center",
      url: "https://adycenter.org",
      tech: [ "PHP", "Scss", "AOS.js", "JavaScript"],
      cms: "Kirby",
      client: "Youth Crisis Center",
      //description: "<p>As a culturally responsive crisis center for native youth, the Ain Dah Yung Center provides seven different programs for members of the community.</p><p>The purpose of this website is to showcase the good work done by the organization so as to encourage donations, but also to provide a directory of service options to those in need.</p>",
      screenshots: [
        "adyc1.jpg", "adyc2.jpg", "adyc3.jpg", "adyc4.jpg", "adyc5.jpg",
      ],
    },

    {
      title: "Mille Lacs Band of Ojibwe",
      url: "https://millelacsband.com",
      tech: [ "PHP", ".NET", "Scss", "YAML", "JavaScript"],
      cms: "Kirby",
      client: "A Minnesota Chippewa Tribal Band",
      description: `
        <p>With over 4,000 members, the official website of the Mille Lacs band has a lot of work to do. This is broadly split into two categories...</p>
        <ol>
          <li>Provide information for anyone to learn more about the band, its responsibilities, and it's various offerings (jobs, construction RFPs, medical support, etc.)</li>
          <li>Provide special information to members of the band with names, phone numbers, schedules, minutes of meetings, and other governmental machinations. This was put behind a verification wall.</li>
        </ol>
        <p>It's a surprisingly large site with a whole lot of pages, being updated multiple times a day.`,
      screenshots: [
        "mlbo1.jpg", "mlbo2.jpg", "mlbo3.jpg", "mlbo4.jpg", "mlbo5.jpg", "mlbo6.jpg", "mlbo7.jpg"
      ]
    },

    {
      title: "Jackpot Junction",
      url: "https://jackpotjunction.dev",
      tech: [ "PHP", "Sass", "Javascript", "YAML", "Vue"],
      cms: "Kirby",
      client: "Native Casino in Morton, Minnesota",
      description: `
        <p>Jackpot Junction's website needed a complete overhaul. Their Joomla-based system was slow, complicated, and difficult for anyone in the company to update.</p>
        <p>They were given a build which focuses on timeliness of all their events (promotions, entertainment, dining and hotel specials) and provides a discoverable interface with flexibilty.</p>`,
      screenshots: [
        "jpj1.jpg", "jpj2.jpg", "jpj3.jpg", "jpj4.jpg", "jpj5.jpg",
      ]
    },

    {
      title: "Red Circle Agency",
      url: "https://redcircleagency.com",
      tech: [ "PHP", "Pug", "AOS.js", "Lottie", "Scss", "JavaScript"],
      cms: "Kirby",
      client: "Full Service Agency",
      description: `
        <p>Like any agency website, there's an important mission to show killer creative. Beyond that, the site is meant to show the unique Native American focus that the agency has had for 20+ years.</p>
        <p>This website features the work <i>and</i> the mission front and center, as well as the software offerings (which I also had a hand in).</p>
      `,
      screenshots: [
        "rca1.jpg", "rca2.jpg", "rca3.jpg", "rca4.jpg", "rca5.jpg"
      ]
    },
    
    {
      title: "Rose Vine Hall",
      url: "https://rosevinehall.com",
      tech: [ "PHP", "Scss", "jQuery", "JavaScript"],
      cms: "Kirby",
      client: "Event Space",
      //- description: `
      //-   <p>With different configurations for different special event types, and a number of catering options based on client request, Rose Vine Hall needed a site that would show all of its offerings in every possible configuation.</p>
      //-   <p>The purpose of this site is to do just that - allowing the customer to visit with their own budget and requirements and find a match for themselves.</p>`,
      screenshots: [
        "rvh1.jpg", "rvh2.jpg", "rvh3.jpg", "rvh4.jpg", "rvh5.jpg", "rvh6.jpg"
      ]
    },

    {
      title: "Voice From Hale",
      url: "https://voicefromhale.com",
      tech: [ "Pug", "Scss", "ScrollMagic", "Howler.js"],
      client: "Voice Actor",
      screenshots: [
        "hale1.jpg"
      ]
    },

    {
      title: "NIGA",
      url: "https://indiangaming.org",
      client: "Advocacy & Lobbying Group",
      tech:[ "PHP", "Pug", "Scss", "jQuery"],
      cms: "Kirby",
      screenshots: [ 
        "niga1.jpg"
      ]
    },
    
    {
      title: "Spokane Tribe Casino",
      //url: "https://adycenter.org",
      tech: [ "PHP", "Scss", "JavaScript"],
      cms: "Craft",
      client: "Washington Casino",
      //- description:`
      //-   <p>STC was having difficulties straddling two business objectives: Maintaining the loyalty and repeated visits from their existing player base while simultaneously trying to attract new players to try them out for the first time.</p>
      //-   <p>What resulted is a website that focuses on imagery: Imagery of the property, imagery of the events, imagery of people having fun - to spread both customer types.</p>`,
      screenshots: [
        "spokane1.jpg", "spokane2.jpg", "spokane3.jpg", "spokane4.jpg", "spokane5.jpg", "spokane6.jpg", "spokane7.jpg", "spokane8.jpg", 
      ]
    },
    
    {
      title: "Avi",
      url: "https://avicasino.com",
      tech: [ "PHP", "Vue", "Scss", "JavaScript"],
      cms: "Kirby",
      client: "Native Run Casino",
      screenshots: [ 
        "avi1.jpg"
      ]
    },
    //- {
    //-   title: "North Star Mohican",
    //-   tech:[ "PHP", "Pug", "Scss", "jQuery"],
    //-   cms: "Kirby"
    //- },
    
    {
      title: "Gun Lake",
      //url: "https://gunlakecasino.com",
      client: "Michigan Casino",
      tech: [ "PHP", "Scss", "jQuery"],
      cms: "Concrete5",
      screenshots: [ 
        "gunlake1.jpg"
      ]
    },
    {
      title: "Akwesasne Mohawk",
      url: "https://mohawkcasino.com/",
      client: "New York Casino",
      tech: [ "PHP", "Scss", "jQuery"],
      cms: "Concrete5",
      screenshots: [
        "mohawk1.jpg"
      ]
    },
    {
      title: "Grand Casino",
      url: "https://grandcasinomn.com",
      client: "Minnesota Casino",
      tech: [ "PHP", "Scss", "jQuery"],
      cms: "Concrete5",
      screenshots: [
        "grand1.jpg"
      ]
    },
    {
      title: "Meskwaki",
      url: "https://www.meskwaki.com/",
      client: "Iowa Casino",
      tech: [ "PHP", "Scss", "jQuery"],
      cms: "Concrete5",
      screenshots: [ 
        "meskwaki1.jpg"
      ]
    }

  ];