-
  let myDecks = [
    {
      title: "Accessibility: A Little Bit Better Is Better Than Nothing",
      url: null,
      repo: null,
      workshop: true,
      sessionize: "https://sessionize.com/s/lemon/solving-layout-challenges-with-pure-sass/67199"
    },
    {
      title: "Solving Layout Challenges With Pure Sass",
      url: "https://ahoylemon.github.io/pure-sass",
      repo: "pure-sass",
      sessionize: "https://sessionize.com/s/lemon/accessibility-a-little-bit-better-is-better-than-n/99965"
    },
    {
      title: "Designers vs Developers: Who Is In Control Here?",
      alias: [
        "Designers & Developers: Friends With Benefits",
        "Designers & Developers: Friends with Benefits",
        "Designers & Developers: Who is in control here?",
        "Designers vs Developers: Who is in control here?"
      ],
      url: null,
      repo: null,
      sessionize: "https://sessionize.com/s/lemon/designers-vs-developers-who-is-in-control-here/53633"
    },
    {
      title: "Shrink The Web!",
      alias: [
        "Shrink The Web: How To Get Happier By Removing Crap",
        "Shrink The Web! How To Be Happier By Removing Crap",
        "Shrink The Web! [Keynote]",
        "Shrink The Web: How To Be Happier With Your Website By Removing The Crap"
      ],
      url: "https://ahoylemon.github.io/shrink-the-web",
      repo: "shrink-the-web",
      sessionize: "https://sessionize.com/s/lemon/shrink-the-web-how-to-get-happier-by-removing-crap/24553"
    },
    {
      title: "How To Make Your Website A PWA",
      alias: [
        "How To Make Your Website A Progressive Web App",
        "How To Make Your Website A Progressive Web App (And Why You Might Want To)"
      ],
      url: "https://ahoylemon.github.io/pwa-talk",
      repo: "pwa-talk",
      sessionize: "https://sessionize.com/s/lemon/how-to-make-your-website-a-progressive-web-app-and/29849"
    },
    {
      title: "I'm Gonna Make You Stop Hating CSS.",
      alias: [
        "I'm Going To Make You Stop Hating CSS.",
        "I'm Going To Make You Stop Hating CSS"
      ],
      url: null,
      repo: "stop-hating-css",
      sessionize: "https://sessionize.com/s/lemon/im-going-to-make-you-stop-hating-css/20975"
    },
    {
      title: "CMS Speed Dating",
      url: "https://ahoylemon.github.io/CMS-Speed-Dating/",
      repo: "CMS-Speed-Dating"
    },
    {
      title: "Let's Launch A Website, Right Friggin' Now!",
      alias: [
        "Let's Launch A Website, Right Friggin' Now! (Futile Fun Edition)",
        "Let's Launch A Website, Right Friggin' Now! (Pretend World Edition)",
        "Let's Make A Website, Right Friggin' Now! (Verifiable Win Edition)"
      ],
      url: null,
      repo: "KCDC-2018",
      sessionize: "https://sessionize.com/app/speaker/session/profile/edit/a1955e93-c11b-4695-bbec-45de4cba33da"
    },
    {
      title: "Literally Anything But Wordpress",
      url: null,
      repo: "Anything-But-Wordpress"
    },
    {
      title: "Write Pretty Code With Pug & Sass",
      alias: [
        "Write Pretty Code With Jade & Sass",
      ],
      url: null,
      repo: null,
      sessionize: "https://sessionize.com/app/speaker/session/profile/edit/2f0ecf23-1407-456e-8d7f-7d13d7034ad1"
    },


    // PubConf
    {
      title: "Chat GPT Is A Conspiracy of the Illuminati",
      url: null,
      repo: "PubConf-2024",
      pubconf: true
    },

    {
      title: "Website Needs Code, Badly!",
      url: null,
      repo: "PubConf-Gauntlet",
      pubconf: true
    },
    {
      title: "ACME Bears No Responsibility For Mr. Coyote Exploding",
      url: null,
      repo: "PubConf-Acme",
      pubconf: true
    },
    {
      title: "We Made Simpsons Porn!?",
      url: null,
      repo: "PubConf-Simpsons",
      pubconf: true
    },
    {
      title: "Please Your VP By Hating Your User",
      url: null,
      repo: "PubConf-IGotPopular",
      pubconf: true
    },
    {
      title: "Oops! I Got Popular?",
      url: null,
      repo: "PubConf-IGotPopular",
      pubconf: true
    },

    {
      title: "A Few Bad Ideas",
      url: null,
      repo: "NDC-Oslo-Thursday",
      pubconf: false
    }
  ]