meta(charset="utf-8")
if pageTitle
  title= pageTitle
else
  title= siteTitle
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
link(href='https://fonts.googleapis.com/css?family=Yrsa:300,400,600' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="/css/ahoylemon.css?v="+lastUpdated)
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=description)

// RSS Feed
link(rel="alternate" type="application/rss+xml" href=siteURL+"/feed.xml" title="Ahoy! Lemon's RSS Feed")

// favicons
include _favicons.pug

//social
include _social.pug

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")