link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")

script(src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js")
script(src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js") 

script.
  tippy('.tooltip', {
    //content: 'My tooltip!',
    allowHTML: true,
    placement: "left",
    delay: [100,300]
  });

if (slug == "clients")
  script.
    $('.screenshots').slick({
      infinite: true,
      arrows: false,
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: false,
      autoplaySpeed: 5000
    });

if (slug == "index")
  script.
    $('.upcoming-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      responsive: [
        {
          breakpoint: 980,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

    $('.previous-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      responsive: [
        {
          breakpoint: 980,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: false
          }
        }
      ]
    });

if (slug == "talks")
  script.
    $('.conference a.pic').click(function() {
        let f = $(this).attr('data-pic');
        let i = 'img/talks/'+f;
        $(this).parent().siblings('.cardpic').css('background-image', 'url('+i+')');
        $(this).parent().parent().addClass('photo-background');
        $(this).removeClass('inactive').addClass('active');
        $(this).siblings().removeClass('active').addClass('inactive');
      });

      $('a.close-cardpic').click(function() {
        $(this).parent().parent().removeClass('photo-background');
        $(this).siblings().removeClass('active').removeClass('inactive');
      });

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15129990-14', 'auto');
  ga('send', 'pageview');