script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Lemon",
    "url": "#{siteURL}",
    "sameAs": [
      "https://thefpl.us/meet/lemon",
      "https://github.com/AhoyLemon",
      "https://codepen.io/ahoylemon/",
      "https://mastodon.social/@ahoylemon",
      "https://www.etsy.com/shop/AhoyLemon",
      "https://medium.com/@AhoyLemon",
      "https://sessionize.com/lemon",
      "https://twitter.com/AhoyLemon",
    ],
    "email": "#{emailAddress}",
    "gender": "male",
    "affiliation": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "brand": {
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "image": "#{siteURL}/og-image.png",
    "jobTitle": "Website Maker",
    "knowsAbout": [
      "bartending",
      "CSS",
      "Sass",
      "pug",
      "frontend",
      "comedy",
      "Kirby",
      "CSS Grid",
      "progressive web apps",
      "web performance",
      "mentoring",
      "collaboration",
      "breakdancing"
    ]
  }
