-
  var subpages = [

    {
      title: "🍋/talks",
      url: siteURL+"/talks.html",
      posted: "2019-07-15",
      description: '<p>I do a certain amount of public speaking. Here is a pge with places I&apos;ve been, and places where I&apos;m going.</p>'
    },

    {
      title: "🍋/clients",
      url: siteURL+"/clients",
      posted: "2022-04-09",
      description: `<p>Of course, I make websites for money. This page lists some websites I've done for clients, and the tech I've used on those sites.</p>`
    },

    {
      title: "🍋/decks",
      url: siteURL+"/decks.html",
      posted: "2022-07-13",
      description: `<p>Public speaking talk titles and slide decks, and where each has been presented</p>`
    },
    
    {
      title: "🍋/uses",
      url: siteURL+"/uses/index.html",
      posted: "2019-07-09",
      description: '<p>I just recently came across Wes Bos&apos; <a href="https://github.com/wesbos/awesome-uses">Awesome Uses</a> repository. I thought it was interesting to look at the toolkit that other people used, and thought I&apos;d provide my own. <i>But</i> sometimes the tools a person uses are more about something being the "good enough" option, so I thought I&apos;d get a little more specific: Those things marked with a <span class="yes"></span> are things which I think are great and totally recommend. Those things marked with a <span class="no"> </span> are things which I&apos;ve compromised into using for one way or another. It&apos;s the best I&apos;ve found, but you could talk me into something else.</p>'
    },

    {
      title: "🍋/🍎",
      url: siteURL+"/blog/apple-names.html",
      posted: "2020-09-03",
      description: "Hi, I wanted you personally to see a list of some actual apple names, and some that aren't."
    },

    {
      title: "🍋/feed",
      url: siteURL+"/feed.xml",
      posted: "2019-06-10",
      description: '<p>An RSS feed? Why!?</p>'
    },
    {
      title: "🍋/sitemap",
      url: siteURL+"/sitemap.xml",
      posted: "2019-07-23",
      description: "<p>Let's build a sitemap, we can make it our best friend.</p>"
    },

    // Microsites I have on subdomains.
    {
      title: "Jerking",
      url: "https://jerking.ahoylemon.xyz",
      posted: "2017-01-06",
      description: "<p>New parody porn titles every day.</p>"
    },
    {
      title: "Are you ready for this?",
      url: "https://ready.ahoylemon.xyz",
      posted: "2017-04-21",
      description: "<p>If you are, appropriate measures will be taken.</p>"
    }, 
    {
      title: "That's Not Poutine.",
      url: "https://notpoutine.ahoylemon.xyz",
      posted: "2020-01-20",
      description: "<p>A list of dishes which claim to be poutine, but aren't.</p>"
    },
    {
      title: "Frank West Pronounces Emoticons",
      url: "https://8u.ahoylemon.xyz", 
      posted: "2016-06-15",
      description: "<p>Do you want to know how emoticons are pronounced? This soundboard is here to help.</p>"
    }
  ]
