-
  var subpages = [
    {
      title: "🍋/uses",
      url: siteURL+"/uses",
      posted: "2019-07-09",
      description: '<p>I just recently came across Wes Bos&apos; <a href="https://github.com/wesbos/awesome-uses">Awesome Uses</a> repository. I thought it was interesting to look at the toolkit that other people used, and thought I&apos;d provide my own. <i>But</i> sometimes the tools a person uses are more about something being the "good enough" option, so I thought I&apos;d get a little more specific: Those things marked with a <span class="yes"></span> are things which I think are great and totally recommend. Those things marked with a <span class="no"> </span> are things which I&apos;ve compromised into using for one way or another. It&apos;s the best I&apos;ve found, but you could talk me into something else.</p>'
    },
    {
      title: "🍋/talks",
      url: siteURL+"/talks.html",
      posted: "2019-07-15",
      description: '<p>I do a certain amount of public speaking. Here is a pge with places I&apos;ve been, and places where I&apos;m going.</p>'
    },
    {
      title: "🍋/feed",
      url: siteURL+"/feed.xml",
      posted: "2019-06-10",
      description: '<p>An RSS feed? Why!?</p>'
    },
    {
      title: "🍋/sitemap",
      url: siteURL+"/sitemap.xml",
      posted: "2019-07-23",
      description: "<p>Let's build a sitemap, we can make it our best friend.</p>"
    }
  ]
