-
  var upcomingTalks = [
    {
      name: "KCDC",
      talks: [
        "CMS Speed Dating",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      url: "http://www.kcdc.info",
      date: "2019-07-18",
      city: "Kansas City",
      state: "MO"
    },

    {
      name: "PubConf KC",
      talk: "Oops! We Made Simpsons Porn!?",
      url: "https://pubconf.io",
      date: "2019-07-19",
      city: "Kansas City",
      state: "MO"
    },

    {
      name: "Code PaLOUsa",
      url: "http://www.codepalousa.com",
      talks: [
        "I'm Gonna Make You Stop Hating CSS.",
        "CMS Speed Dating"
      ],
      date: "2019-08-21",
      city: "Louisville",
      state: "KY"
    },

    {
      name: "Techorama NL",
      url: "https://techorama.nl",
      talks: [
        "Shrink The Web! How To Be Happier By Removing Crap",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      date: "2019-10-01",
      city: "Ede",
      country: "Netherlands"
    },

    {
      name: "Build Stuff LT",
      url: "https://www.buildstuff.lt",
      talk: "I'm Gonna Make You Stop Hating CSS.",
      date: "2019-11-13",
      city: "Vilnus",
      country: "Lithuania"
    },

    {
      name: "Build Stuff UA",
      url: "https://www.ukraine.buildstuff.events",
      talk: "I'm Gonna Make You Stop Hating CSS.",
      date: "2019-11-18",
      city: "Kiev",
      country: "Ukraine"
    },



    {
      name: "NDC {Oslo}",
      talk: "I'm Gonna Make You Stop Hating CSS",
      date: "2019-06-19",
      city: "Oslo",
      country: "Norway"
    }
  ]

-
  var previousTalks = [
    {
      name: "NDC {Oslo}",
      url: "https://ndcoslo.com",
      img: "ndc-oslo-scooter.jpg",
      date: "2019-06-19",
      city: "Oslo",
      country: "Norway"
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      img: "ndc-minnesota-2019.jpg",
      date: "2019-05-08",
      city: "St. Paul",
      country: "MN"
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      img: "pubconf-mn-2019.jpg",
      date: "2019-05-08",
      city: "St. Paul",
      country: "MN"
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      img: "minnebar-2019.jpg",
      date: "2019-04-27",
      city: "Richfield",
      country: "MN"
    },

    {
      name: "dev up",
      url: "https://www.devupconf.org",
      img: "devup-delorean.jpg",
      date: "2018-10-10",
      city: "St. Louis",
      country: "MO"
    },

    {
      name: "NDC {Sydney}",
      url: "https://ndcsydney.com",
      img: "ndc-sydney-score.jpg",
      date: "2018-09-21",
      city: "Sydney",
      country: "Australia"
    },

    {
      name: "PubConf Sydney",
      url: "https://pubconf.io",
      img: "pubconf-sydney-group.jpg",
      date: "2018-09-21",
      city: "Sydney",
      country: "Australia"
    },

    {
      name: "KCDC X",
      url: "https://kcdc.info",
      img: "kcdc-2018.jpg",
      date: "2018-07-13",
      city: "Kansas City",
      country: "MO"
    },

    {
      name: "KCDC X",
      url: "https://pubconf.io",
      img: "pubconf-kc-2018.jpg",
      date: "2018-07-13",
      city: "Kansas City",
      country: "MO"
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      img: "pubconf-mn-2018.jpg",
      date: "2018-05-10",
      city: "St. Paul",
      country: "MN"
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      img: "ndc-minnesota-2018.jpg",
      date: "2018-05-10",
      city: "St. Paul",
      country: "MN"
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      img: "minnebar-2018.jpg",
      date: "2018-04-14",
      city: "Richfield",
      country: "MN"
    },

    {
      name: "PubConf Mpls",
      url: "https://pubconf.io",
      img: "pubconf-mn-2017.jpg",
      date: "2017-04-21",
      city: "Minneapolis",
      country: "MN"
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      img: "minnebar-2016.jpg",
      date: "2016-04-23",
      city: "Richfield",
      country: "MN"
    }

  ]