-
  var upcomingTalks = [

    /*
    {
      name: "Dev Around The Sun",
      url: "https://devaroundthesun.org/",
      talks: [
        "A Love Letter To HTML"
      ],
      startDate: "2020-05-12",
      endDate: "2020-05-13",
      city: "Online",
      online: true
    },
    */

    {
      name: "<DevSum>",
      url: "https://www.devsum.se",
      talk: "I'm Gonna Make You Stop Hating CSS.",
      startDate: "2020-05-28",
      endDate: "2020-05-29",
      city: "Stockholm",
      country: "Sweden",
      address: "Barnhusgatan 12-14, 111 23 Stockholm, Sweden",
      postponed: true,
      online: true
    },

    {
      name: "DevTalks Ro",
      url: "https://www.devtalks.ro/bucharest",
      talks: [
        "How To Make Your Website A Progressive Web App (And Why You Might Want To)",
        //"Smart Things I Learned From My Dumb Websites"
      ],
      startDate: "2020-06-11",
      endDate: "2020-06-12",
      city: "Bucharest",
      country: "Romania",
      address: "Bulevardul Expoziției, București, Romania",
      online: true
    },

    {
      name: "webinale",
      url: "http://webinale.de",
      talks: [
        "CMS Speed Dating",
        "Shrink The Web! [Keynote]"
      ],
      startDate: "2020-12-07",
      endDate: "2020-12-11",
      city: "Berlin",
      country: "Germany",
      address: "Friedrichstraße 151, 10117 Berlin, Germany",
      //postponed: true
    },

  ]

-
  var previousTalks = [

    {
      name: "NDC {London}",
      url: "https://ndc-london.com/",
      talk: "Shrink The Web",
      startDate: "2020-01-27",
      endDate: "2020-01-31",
      city: "London",
      country: "England",
      address: "Broad Sanctuary, Westminster, London SW1P 3EE, United Kingdom",
      pics: [
        "ndc/london-2020-1.jpg",
        "ndc/london-2020-2.jpg",
        "ndc/london-2020-3.jpg"
      ]
    },
    
    {
      name: "PubConf London",
      url: "https://pubconf.io/events/2020/london/",
      talk: "Website Needs Code, Badly!",
      date: "2020-01-31",
      city: "London",
      country: "England",
      address: "104 Horseferry Road, Westminster, London, SW1P 2EE, United Kingdom",
      pics: [
        "pubconf/london-2020-speakers.jpg"
      ]
    },

    {
      name: "F Plus Live",
      url: "https://www.eventbrite.com/e/the-f-plus-live-or-how-to-make-a-live-podcast-in-portland-tickets-75755906957",
      talks: [
        "WikiHow: The Game Show"
      ], 
      date: "2020-01-18",
      city: "Portland",
      state: "OR",
      address: "The Lucky Labrador Beer Hall, 1945 NW Quimby St, Portland, OR 97209",
      pics: [
        "fpluslive/8-intro.jpg",
        "fpluslive/8-after-read.jpg",
        "fpluslive/breaking-the-law.webp"
      ]
    },

    {
      name: "Build Stuff LT",
      url: "https://www.buildstuff.lt",
      talks: [
        {
          name: "I'm Gonna Make You Stop Hating CSS.",
          slides: "https://bit.ly/StopHatingCSS-LT",
          video:  "https://youtu.be/V6NBrYH64pc"
        }
      ],
      startDate: "2019-11-13",
      endDate: "2019-11-15",
      city: "Vilnus",
      country: "Lithuania",
      address: "Konstitucijos pr. 20, Vilnius 09308, Lithuania",
      pics: [
        "buildstuff/lt-bigroom.jpg",
        "buildstuff/lt-skyline1.jpg",
        "buildstuff/lt-css-in-js.jpg",
        "buildstuff/lt-belltower.jpg"
      ]
    },

    {
      name: "Build Stuff UA",
      url: "https://www.ukraine.buildstuff.events",
      talks: [
        {
          name: "I'm Gonna Make You Stop Hating CSS.",
          slides: "https://bit.ly/StopHatingCSS-Kyiv"
        }
      ],
      startDate: "2019-11-18",
      endDate: "2019-11-20",
      city: "Kyiv",
      country: "Ukraine",
      address: "Vadyma Hetmana St, 6, Kyiv, Ukraine, 02000",
      pics: [
        "buildstuff/ua-monkey.jpg",
        "buildstuff/ua-chernobyl1.jpg",
        "buildstuff/ua-talksmile.jpg",
        "buildstuff/ua-myroom.jpg"
      ]
    },

    {
      name: "Techorama NL",
      url: "https://techorama.nl",
      talks: [
        "Shrink The Web! How To Be Happier By Removing Crap",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      startDate: "2019-09-30",
      endDate: "2019-10-02",
      city: "Ede",
      country: "Netherlands",
      address: "Laan der Verenigde Naties 150, 6716 JE Ede, Netherlands",
      pics: [
        "techorama/nl-spike.jpg",
        "techorama/empty-theater.jpg",
        "techorama/robot-nl.jpg",
        "techorama/bjork.jpg",
      ]
    },

    {
      name: "PubConf Amsterdam",
      url: "https://pubconf.io/events/2019/amsterdam/",
      talks: [
        "ACME Bears No Responsibility For Mr. Coyote Exploding"
      ],
      date: "2019-10-02",
      city: "Amsterdam",
      country: "Netherlands",
      address: "Wibautstraat 200-202, 1091 GS Amsterdam, Netherlands",
      pics: [
        "pubconf/nl-hotel.jpg",
        "pubconf/nl-stage.jpg"
      ]
    },

    {
      name: "Code PaLOUsa",
      url: "http://www.codepalousa.com",
      talks: [
        "I'm Gonna Make You Stop Hating CSS.",
        "CMS Speed Dating"
      ],
      startDate: "2019-08-21",
      endDate: "2019-08-23",
      city: "Louisville",
      state: "KY",
      address: "320 W Jefferson Louisville, KY 40202",
      pics: [
        "codepalousa/hotbrown.jpg",
        //"codepalousa/envy.jpg",
        "codepalousa/kah.jpg",
        "codepalousa/badgeprint.jpg",
      ]
    },

    {
      name: "KCDC",
      talks: [
        {
          name: "I'm Gonna Make You Stop Hating CSS.",
          slides: "https://ahoylemon.github.io/Stop-Hating-CSS/#/"
        },
        {
          name: "CMS Speed Dating",
          slides: "https://ahoylemon.github.io/CMS-Speed-Dating/index.html"
        }
      ],
      url: "http://www.kcdc.info",
      startDate: "2019-07-17",
      endDate: "2019-07-18",
      city: "Kansas City",
      state: "MO",
      address: "301 W 13th St #100, Kansas City, MO 64105",
      pics: [
        "kcdc/2019-css-outside.jpg",
        "kcdc/2019-chips.jpg"
      ]
    },

    {
      name: "PubConf KC",
      talk: "Oops! We Made Simpsons Porn!?",
      url: "https://pubconf.io/events/2019/kansas_city",
      date: "2019-07-19",
      city: "Kansas City",
      state: "MO",
      address: "1701 Main St, Kansas City, MO 64108",
      pics: [
        "pubconf/kc-2019-stage.jpg",
        "pubconf/kc-2019-bottles.jpg",
        "pubconf/kc-belt-hotel.jpg"
      ]
    },

    {
      name: "NDC {Oslo}",
      url: "https://ndcoslo.com",
      img: "ndc-oslo-scooter.jpg",
      startDate: "2019-06-17",
      endDate: "2019-06-21",
      city: "Oslo",
      country: "Norway",
      address: "Sonja Henies plass 2, 0185 Oslo, Norway",
      talks: [
        {
          name:"I'm Gonna Make You Stop Hating CSS.",
          video: "https://youtu.be/Xp6Kv62rlHw"
        },
        "A Few Bad Ideas"
      ],
      pics: [
        "ndc-oslo-scooter.jpg",
        "oslo/nearly.jpg",
        "oslo/loveshack.jpg"
      ]
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      pics: [
        "ndc-minnesota-2019.jpg",
        "mn/tilt.jpg",
        "mn/greens.jpg"
      ],
      startDate: "2019-05-06",
      endDate: "2019-05-09",
      city: "St. Paul",
      country: "MN",
      address: "175 W Kellogg Blvd, St Paul, MN 55102",
      talk: "I'm Gonna Make You Stop Hating CSS."
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      img: "pubconf-mn-2019.jpg",
      date: "2019-05-08",
      city: "St. Paul",
      country: "MN",
      address: "6 W 6th St, St Paul, MN 55102",
      talks: [
        "ACME Is Not Responsible For Mr. Coyote Exploding",
        "PubConf Jr. Presents: DevOps"
      ]
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      pics: [
        "minnebar-2019.jpg",
        "minnebar/doom.jpg"
      ],
      date: "2019-04-27",
      city: "Richfield",
      country: "MN",
      address: "7601 Penn Ave S, Richfield, MN 55423",
      talks: [
        {
          name: "Shrink The Web: How To Be Happier With Your Website By Removing The Crap",
          video: "https://www.youtube.com/watch?v=oaJtCzXCDc8"
        }
      ]
    },

    {
      name: "dev up",
      url: "https://www.devupconf.org",
      pics: [
        "devup-delorean.jpg",
        "devup/badge.jpg",
        "devup/probablyfine.jpg"
      ],
      startDate: "2018-10-08",
      endDate: "2018-10-11",
      city: "St. Louis",
      country: "MO",
      address: "1 Ameristar Blvd, St Charles, MO 63301",
      talks: [
        {
          url: "https://www.infoq.com/presentations/websites-vue-pug-sass/",
          name: "Let's Launch A Website, Right Friggin' Now!"
        }
      ] 
    },

    {
      name: "NDC {Sydney}",
      url: "https://ndcsydney.com",
      pics: [
        "ndc-sydney-score.jpg",
        "sydney/now.jpg",
        "sydney/beforetroy.jpg"
      ], 
      startDate: "2018-09-16",
      endDate: "2018-09-24",
      city: "Sydney",
      country: "Australia",
      address: "488 George St, Sydney NSW 2000, Australia",
      talks: [
        {
          name: "Let's Launch A Website, Right Friggin' Now! Futile Fun Edition ",
          slides: "https://ahoylemon.github.io/NDC-Sydney-2018/#/"
        }
      ]
    },

    {
      name: "PubConf Sydney",
      url: "https://pubconf.io",
      img: "pubconf-sydney-group.jpg",
      date: "2018-09-21",
      city: "Sydney",
      country: "Australia",
      address: "22 The Promenade, Sydney NSW 2000, Australia",
      talk: "Please Your VP By Hating Your User"
    },

    {
      name: "KCDC X",
      url: "https://kcdc.info",
      pics: [
        "kcdc-2018.jpg",
        "kcdc/lunch.jpg",
        "kcdc/bitchy.jpg"
      ],
      startDate: "2018-07-11",
      endDate: "2018-07-14",
      city: "Kansas City",
      country: "MO",
      address: "1701 Main St, Kansas City, MO 64108",
      talks: [
        {
          name: "Let's Launch A Website, Right Friggin' Now! Pretend World Edition",
          slides: "https://ahoylemon.github.io/KCDC-2018"
        }
      ]
    },

    {
      name: "PubConf KC",
      url: "https://pubconf.io",
      img: "pubconf-kc-2018.jpg",
      date: "2018-07-13",
      city: "Kansas City",
      country: "MO",
      address: "1701 Main St, Kansas City, MO 64108",
      talk: "Please Your VP By Hating Your User"
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      img: "ndc-minnesota-2018.jpg",
      startDate: "2018-05-08",
      endDate: "2018-05-11",
      city: "St. Paul",
      country: "MN",
      address: "175 W Kellogg Blvd, St Paul, MN 55102",
      talk: "Let's Make A Website, Right Friggin' Now! Verifiable Win Edition"
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      pics: [
        "pubconf-mn-2018.jpg",
        "pubconf/mn-2018-dylan.jpg"
      ],
      date: "2018-05-10",
      city: "St. Paul",
      country: "MN",
      address: "222 7th St W, St Paul, MN 55102",
      talks: [
        {
          url: "https://youtu.be/USmUlshjcd4",
          name: "Please Your VP By Hating Your User"
        }
      ] 
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      pics: [
        "minnebar-2018.jpg",
        "minnebar/2018-snow.jpg"
      ],
      date: "2018-04-14",
      city: "Richfield",
      country: "MN",
      address: "7601 Penn Ave S, Richfield, MN 55423",
      talk: "Literally Anything But Wordpress"
    },

    {
      name: "PubConf Mpls",
      url: "https://pubconf.io",
      img: "pubconf-mn-2017.jpg",
      date: "2017-04-21",
      city: "Minneapolis",
      country: "MN",
      address: "501 Cedar Ave, Minneapolis, MN 55454",
      talk: "Oops! I Got Popular?"
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      img: "minnebar-2016.jpg",
      date: "2016-04-23",
      city: "Richfield",
      country: "MN",
      address: "7601 Penn Ave S, Richfield, MN 55423",
      talk: "Write Pretty Code With Jade & Sass"
    }

  ]