-
  var upcomingTalks = [
    {
      name: "KCDC",
      talks: [
        "CMS Speed Dating",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      url: "http://www.kcdc.info",
      date: "2019-07-18",
      city: "Kansas City",
      state: "MO"
    },

    {
      name: "PubConf KC",
      talk: "Oops! We Made Simpsons Porn!?",
      url: "https://pubconf.io",
      date: "2019-07-19",
      city: "Kansas City",
      state: "MO"
    },

    {
      name: "Code PaLOUsa",
      url: "http://www.codepalousa.com",
      talks: [
        "I'm Gonna Make You Stop Hating CSS.",
        "CMS Speed Dating"
      ],
      date: "2019-08-21",
      city: "Louisville",
      state: "KY"
    },

    {
      name: "Techorama NL",
      url: "https://techorama.nl",
      talks: [
        "Shrink The Web! How To Be Happier By Removing Crap",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      date: "2019-10-01",
      city: "Ede",
      country: "Netherlands"
    },

    {
      name: "PubConf Amsterdam",
      url: "https://techorama.nl",
      talks: [
        "[tbd]"
      ],
      date: "2019-10-02",
      city: "Amsterdam",
      country: "Netherlands"
    },

    {
      name: "Build Stuff LT",
      url: "https://www.buildstuff.lt",
      talk: "I'm Gonna Make You Stop Hating CSS.",
      date: "2019-11-13",
      city: "Vilnus",
      country: "Lithuania"
    },

    {
      name: "Build Stuff UA",
      url: "https://www.ukraine.buildstuff.events",
      talk: "I'm Gonna Make You Stop Hating CSS.",
      date: "2019-11-18",
      city: "Kiev",
      country: "Ukraine"
    }

  ]

-
  var previousTalks = [
    {
      name: "NDC {Oslo}",
      url: "https://ndcoslo.com",
      img: "ndc-oslo-scooter.jpg",
      date: "2019-06-19",
      city: "Oslo",
      country: "Norway",
      talks: [
        {
          name:"I'm Gonna Make You Stop Hating CSS.",
          url: "https://youtu.be/Xp6Kv62rlHw"
        },
        "A Few Bad Ideas"
      ],
      pics: [
        "ndc-oslo-scooter.jpg",
        "oslo/nearly.jpg",
        "oslo/loveshack.jpg"
      ]
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      pics: [
        "ndc-minnesota-2019.jpg",
        "mn/tilt.jpg",
        "mn/greens.jpg"
      ],
      date: "2019-05-08",
      city: "St. Paul",
      country: "MN",
      talk: "I'm Gonna Make You Stop Hating CSS."
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      img: "pubconf-mn-2019.jpg",
      date: "2019-05-08",
      city: "St. Paul",
      country: "MN",
      talks: [
        "ACME Is Not Responsible For Mr. Coyote Exploding",
        "PubConf Jr. Presents: DevOps"
      ]

    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      pics: [
        "minnebar-2019.jpg",
        "minnebar/doom.jpg"
      ],
      date: "2019-04-27",
      city: "Richfield",
      country: "MN",
      //talk: "Shrink The Web: How To Be Happier With Your Website By Removing The Crap"
      talks: [
        {
          name: "Shrink The Web: How To Be Happier With Your Website By Removing The Crap",
          url: "https://www.youtube.com/watch?v=oaJtCzXCDc8"
        }
      ]
    },

    {
      name: "dev up",
      url: "https://www.devupconf.org",
      pics: [
        "devup-delorean.jpg",
        "devup/badge.jpg",
        "devup/probablyfine.jpg"
      ],
      date: "2018-10-10",
      city: "St. Louis",
      country: "MO",
      talks: [
        {
          url: "https://www.infoq.com/presentations/websites-vue-pug-sass/",
          name: "Let's Launch A Website, Right Friggin' Now!"
        }
      ] 
    },

    {
      name: "NDC {Sydney}",
      url: "https://ndcsydney.com",
      pics: [
        "ndc-sydney-score.jpg",
        "sydney/now.jpg",
        "sydney/beforetroy.jpg"
      ], 
      date: "2018-09-21",
      city: "Sydney",
      country: "Australia",
      talk: "Let's Launch A Website, Right Friggin' Now!"
    },

    {
      name: "PubConf Sydney",
      url: "https://pubconf.io",
      img: "pubconf-sydney-group.jpg",
      date: "2018-09-21",
      city: "Sydney",
      country: "Australia",
      talk: "Please Your VP By Hating Your User"
    },

    {
      name: "KCDC X",
      url: "https://kcdc.info",
      pics: [
        "kcdc-2018.jpg",
        "kcdc/lunch.jpg",
        "kcdc/bitchy.jpg"
      ],
      date: "2018-07-13",
      city: "Kansas City",
      country: "MO",
      talk: "Let's Launch A Website, Right Friggin' Now!"
    },

    {
      name: "PubConf KC",
      url: "https://pubconf.io",
      img: "pubconf-kc-2018.jpg",
      date: "2018-07-13",
      city: "Kansas City",
      country: "MO",
      talk: "Please Your VP By Hating Your User"
    },

    {
      name: "NDC {Minnesota}",
      url: "https://ndminnesota.com",
      img: "ndc-minnesota-2018.jpg",
      date: "2018-05-10",
      city: "St. Paul",
      country: "MN",
      talk: "Let's Make A Website, Right Friggin' Now!"
    },

    {
      name: "PubConf MN",
      url: "https://pubconf.io",
      pics: [
        "pubconf-mn-2018.jpg",
        "pubconf/mn-2018-dylan.jpg"
      ],
      date: "2018-05-10",
      city: "St. Paul",
      country: "MN",
      talks: [
        {
          url: "https://youtu.be/USmUlshjcd4",
          name: "Please Your VP By Hating Your User"
        }
      ] 
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      pics: [
        "minnebar-2018.jpg",
        "minnebar/2018-snow.jpg"
      ],
      date: "2018-04-14",
      city: "Richfield",
      country: "MN",
      talk: "Literally Anything But Wordpress"
    },

    {
      name: "PubConf Mpls",
      url: "https://pubconf.io",
      img: "pubconf-mn-2017.jpg",
      date: "2017-04-21",
      city: "Minneapolis",
      country: "MN",
      talk: "Oops! I Got Popular?"
    },

    {
      name: "Minnebar",
      url: "https://minnestar.org/minnebar",
      img: "minnebar-2016.jpg",
      date: "2016-04-23",
      city: "Richfield",
      country: "MN",
      talk: "Write Pretty Code With Jade & Sass"
    }

  ]