-
  var lemonTalks = [
    {
      name: "KCDC",
      talks: [
        "CMS Speed Dating",
        "I'm Gonna Make You Stop Hating CSS."
      ],
      date: "2019-07-18",
      city: "Kansas City",
      state: "MO"
    },

    {
      name: "NDC {Oslo}",
      talk: "I'm Gonna Make You Stop Hating CSS",
      date: "2019-06-19",
      city: "Oslo",
      country: "Norway"
    }
  ]