- var siteTitle = "ahoylemon 🍋 xyz"
- var siteURL = "https://ahoylemon.xyz"
- var description = "I make a lot of stuff, including this website to show the stuff I make."
- const emailAddress = "lemon@ahoylemon.xyz"
- const twitterHandle = "@AhoyLemon"
- var d = new Date()
- const lastUpdated = d.toISOString()

include _sites.pug
include _talks.pug
include _subpages.pug