- var siteTitle = "Hi, my name is Lemon."
- var siteURL = "https://ahoylemon.xyz"
- var description = "I make a lot of stuff, including this website to show the stuff I make."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

include _sites.pug
include _talks.pug