- const siteTitle = "ahoylemon 🍋 xyz"
- const siteURL = "https://ahoylemon.xyz"
//- const siteURL = "http://localhost:8848"
- const emailAddress = "lemon@ahoylemon.xyz"
- const twitterHandle = "@AhoyLemon"
- const d = new Date()
- const lastUpdated = d.toISOString()
- const talkPage = "talks.html"
- const talkPageURL = siteURL + "/" + talkPage

- let description = "I make a lot of stuff, including this website to show the stuff I make."

include _sites.pug
include _talks.pug


- let talkNumber = 0

-
  upcomingTalks.forEach(function(t) {
    let slug = "";
    if (t.name && t.startDate) {
      slug = t.name + t.startDate;
    } else if (t.name && t.date) {
      slug = t.name + t.date;
    } else if (t.name) {
      slug = t.name
    } else {
      slug = "talk"+talkNumber
    }
    slug = slug.replace(/[^a-z0-9]/gi, '');
    t.slug = slug;
    talkNumber++
  });

-
  previousTalks.forEach(function(t) {
    let slug = "";
    if (t.name && t.startDate) {
      slug = t.name + t.startDate;
    } else if (t.name && t.date) {
      slug = t.name + t.date;
    } else if (t.name) {
      slug = t.name
    } else {
      slug = "talk"+talkNumber
    }
    slug = slug.replace(/[^a-z0-9]/gi, '');
    t.slug = slug;
    talkNumber++
  });

-
  myDecks.forEach(function(d) {
    d.history = [];
    previousTalks.forEach(function(c) {

      let foundMatch = false;
      let talkVideo = null


      if (c.talks) {
        c.talks.forEach(function(t) {
        if (t == d.title) {
          foundMatch = true;
        } else if (t.name && t.name == d.title) {
          foundMatch = true;
          if (t.video) {
            talkVideo = t.video
          }

        } else if (d.alias && d.alias.includes(t)) {
          foundMatch = true;
        } else if (d.alias && d.alias.includes(t.name)) {
          foundMatch = true;
          if (t.video) {
            talkVideo = t.video
          }
        }
      }); 
      } else if (c.talk) {
        if (c.talk == d.title ) {
          foundMatch = true;
        }
      }

      if (foundMatch) {
        let newHistory = {
          name: c.name,
          startDate: c.startDate,
          endDate: c.endDate,
          date: c.date,
          online: c.online,
          flag: c.flag
        }
        if (talkVideo) {
          newHistory.video = talkVideo;
        }
        d.history.push(newHistory);
      }
    });
  });

include _subpages.pug