//NORMALIZE, GET DEFAULTS
@import "../../sass/globals/_reset";
@import "../../sass/globals/_variables";
@import "../../sass/globals/_mixins";
@import "../../sass/globals/_extends";
@import "../../sass/globals/_z-index";
@import "../../sass/globals/_defaults";

body { background:#222;}

$body-bg: #12D5CF;
$text-color: #E8F5FF;
$btn-bg: #00FF74;
$btn-disable: #e8304c;
$btn-disable-text: #eee;
$btn-text-color: #333;
$coin-bg: #E7D239;
$coin-text-color: darken($coin-bg, 25%);

// Speed at which the coin spins
$flip-speed: 0.7s;


/* FLIPPING ANIMATION */
@keyframes flipping {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}





.coin-container {
  height: 300px;
  width: 300px;
  margin: 0 auto 60px;
  position: relative;
  perspective: 900px;
  .coin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $coin-text-color;
    border-radius: 100%;
    transform-style: preserve-3d;
    transition: transform $flip-speed linear;
    cursor: pointer;
    
    .coin-side {
      border-radius: 100%;
      box-sizing: border-box;
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: transform $flip-speed ease;
      
      img {
        width: 100%;
        filter:drop-shadow(3px,3px,3px,lime);
      }
    }
     
    .tails {
     transform: rotateX(180deg);
    }
    
    &.is-flipping {
      animation: flipping $flip-speed infinite;
      cursor: wait;
    }
    
    &.is-heads {
      transform: rotateX(0);
    }
    &.is-tails {
      transform: rotateX(180deg);
    }
  }
}

.coin-readout { font-size:600%; color:#eee; text-align: center; }


.cheat-heads { @include position(fixed,null,null,0,0); width:160px; height:60px; opacity: 0; }
.cheat-tails { @include position(fixed,null,0,0,null); width:160px; height:60px; opacity: 0; }