//- var imgPath = "../email"
- var imgPath = "https://thefpl.us/email"

- var font = 'font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;'
- var linkStyle = font + ' color:#313131; text-decoration:none; font-weight:normal; font-size:16px; cursor:pointer;'

html
  head
    title Email signature, v.2
  body

    style.
      a.siglink, a.siglink[href] { text-decoration:none !important;}
      a.siglink:hover { color:#C75E28 !important }

    p(style="padding-top:2em; padding-left:6em;"+font)
      | — 
      a.siglink(href="https://ahoylemon.xyz" style=linkStyle) Lemon 🍋