{
  "name": "AhoyLemon 🍋",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "jade/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"index.html\"}"
    },
    {
      "path": "jade/partials/favicons.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/favicons.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/favicons.html\"}"
    },
    {
      "path": "jade/partials/head.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/head.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/head.html\"}"
    },
    {
      "path": "jade/partials/javascripts.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/javascripts.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/javascripts.html\"}"
    },
    {
      "path": "jade/partials/schema.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/schema.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/schema.html\"}"
    },
    {
      "path": "jade/partials/social.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/social.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/social.html\"}"
    },
    {
      "path": "sass/idiots.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/idiots.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/idiots.css\"}"
    },
    {
      "path": "sass/partials/_game-over.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_game-over.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_game-over.css\"}"
    },
    {
      "path": "sass/partials/_main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_main.css\"}"
    },
    {
      "path": "sass/partials/_sidebar.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_sidebar.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_sidebar.css\"}"
    },
    {
      "path": "sass/globals/_defaults.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_defaults.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_defaults.css\"}"
    },
    {
      "path": "sass/globals/_extends.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_extends.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_extends.css\"}"
    },
    {
      "path": "sass/globals/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_mixins.css\"}"
    },
    {
      "path": "sass/globals/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_reset.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_reset.css\"}"
    },
    {
      "path": "sass/globals/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_variables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_variables.css\"}"
    },
    {
      "path": "sass/globals/_z-index.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/globals/_z-index.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/globals/_z-index.css\"}"
    },
    {
      "path": "sass/ahoylemon.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/ahoylemon.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"sass/ahoylemon.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "css/ahoylemon.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/ahoylemon.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/ahoylemon-dist.css\"}"
    },
    {
      "path": "sass/partials/_cards.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_cards.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_cards.css\"}"
    },
    {
      "path": "css/idiots.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/idiots.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/idiots-dist.css\"}"
    },
    {
      "path": "img/firings.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/firings.png\",\"size\":79907,\"initialSize\":79907,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/tyra.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/tyra.jpg\",\"size\":22761,\"initialSize\":22761,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "jade/partials/aside.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/partials/aside.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/partials/aside.html\"}"
    },
    {
      "path": "sass/partials/_aside.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_aside.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_aside.css\"}"
    },
    {
      "path": "img/cork-wallet.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/cork-wallet.png\",\"size\":44191,\"initialSize\":44191,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-60x60.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-60x60.png\",\"size\":645,\"initialSize\":645,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-114x114.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-114x114.png\",\"size\":1277,\"initialSize\":1277,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-120x120.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-120x120.png\",\"size\":1333,\"initialSize\":1333,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-152x152.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-152x152.png\",\"size\":1575,\"initialSize\":1575,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-144x144.png\",\"size\":1440,\"initialSize\":1440,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-76x76.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-76x76.png\",\"size\":817,\"initialSize\":817,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-72x72.png\",\"size\":790,\"initialSize\":790,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-180x180.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-180x180.png\",\"size\":1750,\"initialSize\":1750,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-precomposed.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-precomposed.png\",\"size\":2337,\"initialSize\":2337,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "favicon-16x16.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-16x16.png\",\"size\":395,\"initialSize\":395,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "favicon-194x194.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-194x194.png\",\"size\":2917,\"initialSize\":2917,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "favicon-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-96x96.png\",\"size\":1672,\"initialSize\":1672,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "favicon-32x32.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon-32x32.png\",\"size\":579,\"initialSize\":579,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-144x144.png\",\"size\":2393,\"initialSize\":2393,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-150x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-150x150.png\",\"size\":1789,\"initialSize\":1789,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-70x70.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-70x70.png\",\"size\":1632,\"initialSize\":1632,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-192x192.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-192x192.png\",\"size\":2291,\"initialSize\":2291,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-36x36.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-36x36.png\",\"size\":557,\"initialSize\":557,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-48x48.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-48x48.png\",\"size\":637,\"initialSize\":637,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-72x72.png\",\"size\":983,\"initialSize\":983,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon-57x57.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon-57x57.png\",\"size\":657,\"initialSize\":657,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-144x144.png\",\"size\":1694,\"initialSize\":1694,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"apple-touch-icon.png\",\"size\":1750,\"initialSize\":1750,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "android-chrome-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"android-chrome-96x96.png\",\"size\":1177,\"initialSize\":1177,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-310x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-310x150.png\",\"size\":1691,\"initialSize\":1691,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "mstile-310x310.png",
      "configJson": "{\"compiler-png\":{\"path\":\"mstile-310x310.png\",\"size\":3430,\"initialSize\":3430,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "og-image.png",
      "configJson": "{\"compiler-png\":{\"path\":\"og-image.png\",\"size\":13129,\"initialSize\":13129,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "readme.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"readme.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"readme.html\"}"
    },
    {
      "path": "img/gold-plate.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/gold-plate.png\",\"size\":264582,\"initialSize\":264582,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/gold.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"img/gold.jpg\",\"size\":14821,\"initialSize\":14821,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/doom320.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/doom320.png\",\"size\":9399,\"initialSize\":9399,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/uses.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"uses/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/feed.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"feed.xml\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/test.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"test.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "pug/talks.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"talks.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "jade",
      "svg",
      "sass",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pug/feed.pug",
      "imports": [
        "pug/partials/_variables.pug",
        "pug/partials/_sites.pug",
        "pug/partials/_talks.pug",
        "pug/partials/_subpages.pug"
      ]
    },
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/partials/_variables.pug",
        "pug/partials/_sites.pug",
        "pug/partials/_mixins.pug",
        "pug/partials/_head.pug",
        "pug/partials/_aside.pug",
        "pug/partials/_javascripts.pug",
        "pug/partials/_talks.pug",
        "pug/partials/_subpages.pug",
        "pug/partials/_favicons.pug",
        "pug/partials/_social.pug"
      ]
    },
    {
      "path": "pug/test.pug",
      "imports": [
        "pug/partials/_variables.pug",
        "pug/partials/_sites.pug",
        "pug/partials/_mixins.pug",
        "pug/partials/_head.pug",
        "pug/partials/_aside.pug",
        "pug/partials/_talks.pug",
        "pug/partials/_subpages.pug",
        "pug/partials/_favicons.pug",
        "pug/partials/_social.pug"
      ]
    },
    {
      "path": "pug/uses.pug",
      "imports": [
        "pug/partials/_variables.pug",
        "pug/partials/_mixins.pug",
        "pug/partials/_head.pug",
        "pug/partials/_aside.pug",
        "pug/partials/_schema.pug",
        "pug/partials/_javascripts.pug",
        "pug/partials/_sites.pug",
        "pug/partials/_talks.pug",
        "pug/partials/_subpages.pug",
        "pug/partials/_favicons.pug",
        "pug/partials/_social.pug"
      ]
    },
    {
      "path": "sass/ahoylemon.scss",
      "imports": [
        "sass/globals/_reset.scss",
        "sass/globals/_variables.scss",
        "sass/globals/_mixins.scss",
        "sass/globals/_extends.scss",
        "sass/globals/_z-index.scss",
        "sass/globals/_defaults.scss",
        "sass/partials/_aside.scss",
        "sass/partials/_cards.scss",
        "sass/partials/_summaries.scss",
        "sass/partials/_talks.scss",
        "sass/partials/_slick.scss",
        "sass/partials/_fullpage.scss"
      ]
    },
    {
      "path": "pug/partials/_head.pug",
      "imports": [
        "pug/partials/_favicons.pug",
        "pug/partials/_social.pug"
      ]
    },
    {
      "path": "pug/talks.pug",
      "imports": [
        "pug/partials/_variables.pug",
        "pug/partials/_mixins.pug",
        "pug/partials/_head.pug",
        "pug/partials/_aside.pug",
        "pug/partials/_javascripts.pug",
        "pug/partials/_sites.pug",
        "pug/partials/_talks.pug",
        "pug/partials/_subpages.pug",
        "pug/partials/_favicons.pug",
        "pug/partials/_social.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"]}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}