include ../../pug/partials/_variables.pug
block variables

if slug
  - pageURL = siteURL + '/blog/' + slug + '.html'

doctype html
html(lang="en")
  head
    include ../../pug/partials/_mixins.pug
    include ../../pug/partials/_head.pug
  body
    include ../../pug/partials/_left-side.pug
    
    main.site-cards
    
      section.fullpage
        article
          if postDate
            .stamp
              span Posted 
              +timeStamp(postDate)
            
          block article