$card-width:370px;
$card-height:310px;
$logosize:($card-height * 0.68);

.site-cards { @include flex-container(); padding-left:1em; padding-right: 1em;
  
  .card { @include flex-item($card-width,0,1); height:$card-height; margin-bottom: 2em; margin-left:1em; margin-right:1em; transition:all 0.15s ease;
    .flipper { display: block; position:relative; transform-style: preserve-3d; transition:0.3s; transition-delay: 0.1s; width:100%; height:100%; }
    .logo { width:$logosize; height:$logosize; }
    .front, .back { backface-visibility: hidden; @include position(absolute,0,0,0,0); color:$black; }
    .front { border:1px solid $black; box-shadow:-0.075em -0.075em 0.15em rgba($black,0.75); text-align:center; padding-top:2em; @include background();
      &.big-logo { padding: 10px;
        .logo {  width:100%; height:100%; }
      }
    }
    .back { transform: rotateY(180deg); width:100%; height:100%; background:white; border:1px solid $black; box-shadow:-0.25em -0.25em 0.6em rgba($black,0.75); padding:1em; overflow-x: hidden; overflow-y: auto;
      .title { text-align: center; display: block; margin-bottom: 0.5em; font-size:1.75em; font-weight:$bold; text-decoration:none; }
    }
    .launched { font-weight: $bold;
      &:before { content: "Launched: "; font-weight:$medium; }
    }
  }
  
  figure.card {
    &:hover { transform: scale(1.1);
      .flipper { transform: rotateY(180deg); }
      .front { box-shadow:-0.15em -0.15em 0.3em rgba($black,0.75); }
    }
    &:active { transform:scale(0.9); }
  }
}

.talk-list { background:#fff; padding: 1em; overflow: hidden; position: relative;
  .header { font-size:40px; text-align: center; font-weight: $light; }
  
  
  .talks { padding-left: 0;
    li { list-style: none; text-align: center; padding: 0 14px;
      a { color:$orange; font-weight: $bold; text-decoration: none; 
        &:hover { text-decoration: underline; }
      }
      .conference { font-size:180%; }
      .title { font-size:160%;  display: block; width: 100%; font-weight: $light; }
      time { font-size:120%; }
      .button-holder { padding-top: 0.7em; }
      .button {
        &:hover { text-decoration: underline; }
      }
    }
  }
  

  &.previous { padding:0 !important;
    .slick-list { padding-left: 0 !important; padding-right:0 !important; }
    .talk { height:310px; position: relative; margin-top:-85px; width:400px; cursor: -webkit-grab; cursor:grab; }
    .header { @include position(absolute,0,0,null,0); z-index: 9; color:$yellow; text-shadow:-2px 2px 0 $black; padding-top:12px; }
    figure { @include position(absolute,0,0,0,0); background-size:cover; background-position: center; }
    figcaption { text-align: center; color:$white; text-shadow:-2px 2px 0 $black; font-size:24px; @include position(absolute,null,0,0,0); padding-bottom: 16px; line-height: 90%;
      .conference { font-size:198%; font-weight:$bold; line-height: 90%; }
    }
    //.slick-list { padding:0; }
  }
}



@media screen and (max-width:887px) {
  //aside { position: relative; }
}

@media screen and (min-width:888px) {
  main { margin-left: $sidebar; padding-top: 2em; }
}