.client-site-callout { border:3px solid rgba($black,0.3); color:#444; padding:20px; display:flex; align-items: center; justify-content: center;
  .title { font-size:240%; font-weight: 725; } 
  .cta { font-size:160%; padding-top:20px; } 
  a { color:$orange; text-decoration: none;
    &:hover, &:focus { text-decoration: underline; }
  }
}


section.client-site-overview { grid-column: 1 / -1; }

section.client-site-tech { grid-column: 1 / -1; padding:30px 20px 20px 20px; background:rgba(#666,0.1);
  // box-shadow: inset 6px 6px 16px rgba(0,0,0,0.5);
  border:3px solid rgba($black,0.3); color:#666;
  h2 { margin-bottom: 20px; }
  .tech { column-gap: 20px;
    display:flex; flex-wrap: wrap;
    > * { flex-basis: 160px; flex-shrink: 1; }
    // @media (min-width:1820px) { columns: 8; }
    // @media (min-width:1600px) and (max-width:1819px) { columns: 5; }
    // @media (min-width:1380px) and (max-width:1599px) { columns: 4; }
    // @media (min-width:1000px) and (max-width:1379px) { columns: 3; }
    // @media (min-width:460px)  and (max-width:999px)  { columns: 2; }
    .icon-and-name { display:grid; grid-template-columns: 32px 1fr; gap:10px; margin-bottom: 20px;
      svg { fill:#666; }
    }
    .name { display:flex; align-items: center; font-size:135%; font-weight: 600; }
  }
  // @media (max-width:888px) { display:none; }
}

.client-site { display:grid; grid-template-columns: 460px 1fr 76px; grid-gap: 40px; background:white; box-shadow:$card-shadow; padding:20px;
  figure { grid-row: span 1;
    .screenshots { position: relative; padding:0 0 50px 0;
      &:not(.slick-initialized) { opacity: 0; }
      .slick-list { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:19px 0 0 0; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; cursor:grab; }
      .slick-dots { display: block; text-align: center; @include position(absolute,null,0,0,0);
        li { display: inline-block; padding:0 0.5em 0 0;
          button {  display: inline-block; line-height: 1.3em; height: 1em; width:1em; background:transparent; background: rgba($black,0.2); border:none; transition: background 0.2s linear; border-radius:50%; font-family: $font; padding:0; cursor: pointer; overflow: hidden; text-indent: -999px;  }
          &.slick-active {
            button { background:$black; cursor: default; }
          }
        }
      }
    }
  }
  figcaption { height:100%; display: flex; gap: 10px; flex-direction: column; }
  .title { line-height: 100%; word-break: break-word;
    span { background: linear-gradient(36deg, rgba($yellow,0.5), rgba($yellow,0.25));
      padding: 4px 24px 3px 13px; transform: translateX(-13px); display: inline-block; }
  }
  .subhead { text-transform: uppercase; letter-spacing: 0.1em; font-weight:$bold; }
  .description {
    line-height: 1.4; max-width: 68ch;
    p:last-of-type { margin-bottom: 0; }
  }
  .visit-site { font-size:0.85rem;
    a { color:$orange; text-decoration: none; text-transform: uppercase;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
  p {  margin-bottom: 1em; }
  ol { list-style-type: decimal; margin-bottom: 1em;;
    li { margin-left: 1.25em;}
  }
  .tech { padding:20px; display:flex; flex-direction: column; justify-content: space-between;
  }


  div.tech-icon { cursor: help; position: relative;
    span { position:absolute; background:$black; color:$white; padding:0.25em .75em;  white-space: nowrap; pointer-events: none;
      &:after { content:''; background:$black; display: block; position: absolute; }
      opacity: 0; transition: opacity 0.35s linear, transform 0.35s ease;
    }
    &:hover, &:focus {
      span { opacity: 1; transform: translateX(0); pointer-events: all; }
    }
  }

  &.featured {
    .tech-icon {
      span { right:3em; top:calc(50% - 1.1em); transform: translateX(32px);
        &:after { width:.75em; height:1.72em; top:0em; right:-.7em; bottom:0; clip-path: polygon(0 0, 0% 100%, 100% 50%); }
      }
    }
  }

  &.secondary {
    .tech-icon {
      span { top:-52px; left:-10px; transform: translateY(32px);
        &:after { width:32px; height:18px; left:10px; bottom:-17px; clip-path: polygon(0 0, 50% 100%, 100% 0); }
      }
    }
  }


  .tech {
    .php { fill:$color-php; }
    .sass { fill:$color-sass;}
    .javascript { fill:$color-js; }
    .pug { fill:$color-pug; }
    .yaml { fill:$color-yaml; }
    .twig { fill:$color-twig; }
    .dotnet { fill:$color-dotnet; }
    .gutenberg { fill:$color-gutenberg; }
    .vue { fill:$color-vue; }
    .jquery { fill:$color-jquery; }
    .aos { fill:$color-aos; }
    .lottie { fill:$color-lottie; }
    .howler { fill:$color-howler; }
    .scrollmagic { fill:$color-scrollmagic; }
    .json { fill:$color-json; }

    .kirby { fill:$color-kirby; }
    .concrete5 { fill:$color-concrete5; }
    .craft { fill:$color-craft; } 
    .drupal { fill:$color-drupal; }

    .azure { fill:$color-azure; }
    .untappd { fill:$color-untappd; }
    .matomo { fill:$color-matomo; }
    .jwplayer { fill:$color-jwplayer; }
    .vimeo { fill:$color-vimeo; }
    .platform-sh { fill:$color-platform-sh; }
    .xata { * { fill: $color-xata; } }
    .typescript { fill:$color-typescript; }
    .vite { fill: $color-vite; }
    .wordpress { fill:$color-wordpress; }
    
    span { font-weight: 625; background:$true-black;
      &:after { background:$true-black; }

      // &.php, &.php:after { background:$color-php; }
      // &.sass, &.sass:after { background:$color-sass; }
      // &.javascript, &.javascript:after { background:$color-js; color:$true-black; }
      // &.pug, &.pug:after { background-color: $color-pug; }
      // &.yaml, &.yaml:after { background:$color-yaml; }
      // &.twig, &.twig:after { background:$color-twig; color:$true-black; }
      // &.net, &.net:after { background-color:$color-dotnet; }
      // &.gutenberg, &.gutenberg:after { background-color:$color-gutenberg; }
      // &.vue, &.vue:after { background-color: $color-vue; color:$true-black; }
      // &.jquery, &.jquery:after { background-color: $color-jquery; }
      // &.aosjs, &.aosjs:after { background:$color-aos; }
      // &.lottie, &.lottie:after { background:$color-lottie; color:$true-black; }
      // &.howlerjs, &.howlerjs:after { background-color: $color-howler; }
      // &.scrollmagic, &.scrollmagic:after { background-color: $color-scrollmagic; }
      // &.json, &.json:after { background-color: $color-scrollmagic; }

      // &.kirby, &.kirby:after { background:$color-kirby; }
      // &.concrete5, &.concrete5:after { background:$color-concrete5; }
      // &.craft, &.craft:after { background:$color-craft; }
      // &.drupal, &.drupal:after { background:$color-drupal; }
      
      // &.azure, &.azure:after { background:$color-azure; }
      // &.untappd, &.untappd:after { background:$color-untappd; color:$true-black; }
      // &.matomo, &.matomo:after { background:$color-matomo; }
      // &.jwplayer, &.jwplayer:after { background:$color-jwplayer; }
      // &.vimeo, &.vimeo:after { background:$color-vimeo; color:$true-black; }
      // &.platformsh, &.platformsh:after { background:$color-platform-sh; }
    }
  }

  &.featured { 
    .title { font-size:215%; }
    .description { font-size:120%; }
  }

  &.secondary { grid-column: span 1; display:flex; flex-direction: column; gap:10px; justify-content: space-between;
    
    .title { font-size:175%;
      span { transform:unset; margin-bottom: 0.25em; }
    }
    .subhead { margin-bottom: unset; }
    figure { padding:0; margin-top:0.5rem;
      .screenshot { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:18px 1px 1px 1px; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    }
    figcaption { height:100%; display: flex; gap: 10px; flex-direction: column; padding-top:10px; }
    .visit-site { padding-top: 1rem; }
    .tech { flex-direction: row; order:3;
      svg { height:32px; width:32px; }
    }
  }


  .no-js-carousel { 
    background-image:url(../img/client-sites/browser2.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:20px 0 0 0; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .shots { display:flex; overflow-x: auto; scroll-snap-type: x mandatory; }
    .shot { flex-basis:100%; flex-shrink: 0; scroll-snap-align: start; }
  }
}

@media (min-width:1401px) {
  .client-sites { grid-template-columns: repeat(3,1fr); }
  .client-site.featured { grid-column: span 3; }
}

@media (max-width:1400px) {
  .client-sites { grid-template-columns: repeat(2,1fr); }
  .client-site.featured { grid-column: span 2; }
}

@media (max-width:1240px) {
  .client-site.featured { grid-template-columns: 1fr; 
    .screenshots-carousel-wrapper { width:520px; margin-left:auto; margin-right: auto;  overflow: hidden;
      @media (max-width:590px) { width:360px; }
      @media (max-width:430px) { width:260px; }
    }
    
    .tech { flex-direction: row; gap:10px; flex-grow: 0;
      .tooltip { flex-basis: 42px;}
    }

    // figure { grid-column: 1; }
    // figcaption { grid-column: 1;}
    // .tech { grid-column: 1; grid-row: span 2; }
  }
}


@media (max-width:700px) {
  .client-sites { grid-template-columns:1fr; }
  .client-site.featured { grid-column: span 1; }
}

@media (max-width:510px) {
  .client-site.featured { grid-template-columns: 1fr; gap:20px;
    .tech { grid-column: 1; grid-row:span 1; flex-direction: row;
      svg { height:32px; width:32px; }
    }
  }
}