section.client-site-overview { grid-column: 1 / -1; }

.client-site { display:grid; grid-template-columns: 460px 1fr 76px; grid-gap: 40px; background:white; box-shadow:$card-shadow; padding:20px;
  figure { grid-row: span 1;
    .screenshots { position: relative; padding:0 0 50px 0;
      .slick-list { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:19px 0 0 0; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; cursor:grab; }
      .slick-dots { display: block; text-align: center; @include position(absolute,null,0,0,0);
        li { display: inline-block; padding:0 0.5em 0 0;
          button {  display: inline-block; line-height: 1.3em; height: 1em; width:1em; background:transparent; background: rgba($black,0.2); border:none; transition: background 0.2s linear; border-radius:50%; font-family: $font; padding:0; cursor: pointer; overflow: hidden; text-indent: -999px;  }
          &.slick-active {
            button { background:$black; cursor: default; }
          }
        }
      }
    }
  }
  .title { font-size:215%; line-height: 100%; padding-top:10px; word-break: break-word;
    span { background: linear-gradient(36deg, rgba($yellow,0.5), rgba($yellow,0.25));
      padding: 4px 24px 3px 13px; transform: translateX(-13px); display: inline-block; margin-bottom: 0.5em; }
  }
  .subhead { text-transform: uppercase; letter-spacing: 0.1em; font-weight:$bold; margin-bottom: 1em; }
  .description {
    line-height: 1.4; font-size:22px; max-width: 68ch;
    p:last-of-type { margin-bottom: 1em; }
  }
  .visit-site { font-size:0.85rem; margin-bottom: 1em;
    a { color:$orange; text-decoration: none; text-transform: uppercase;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
  p {  margin-bottom: 1em; }
  ol { list-style-type: decimal; margin-bottom: 1em;;
    li { margin-left: 1.25em;}
  }
  .tech { padding:20px; display:flex; flex-direction: column; justify-content: space-between;
    svg { width:100%;}
  }
  .tooltip { cursor: help; }
  .php { fill:$color-php; }
  .sass, .scss { fill:$color-sass;}
  .js, .javascript { fill:$color-js; }
  .vue { fill:$color-vue; }
  .pug { fill:$color-pug; }
  .jquery { fill:$color-jquery; }
  .craft { fill:$color-craft; } 
  .matomo { fill:$color-matomo; }
  .dotnet { fill:$color-dotnet; }
  .azure { fill:$color-azure; }
  .yaml { fill:$color-yaml; }
  .aos { fill:$color-aos; }
  .untappd { fill:$color-untappd; }
  .lottie { fill:$color-lottie; }
  .howler { fill:$color-howler; }
  .scrollmagic { fill:$color-scrollmagic; }
  .concrete5 { fill:$color-concrete5; }

  &.simple { grid-template-columns: 1fr; grid-column: span 1; padding:1rem; gap:unset;
    .title {
      span { transform:unset; margin-bottom: 0.25em; }
    }
    .subhead { margin-bottom: unset; }
    figure { padding:0; margin-top:0.5rem;
      .screenshot { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:16px 0 0 0; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    }
    .visit-site { padding-top: 1rem; }
    .tech { flex-direction: row;
      svg { height:32px; width:32px; }
    }

  }
}

@media (min-width:1401px) {
  .client-sites { grid-template-columns: repeat(3,1fr); }
  .client-site.featured { grid-column: span 3; }
}

@media (max-width:1400px) {
  .client-sites { grid-template-columns: repeat(2,1fr); }
  .client-site.featured { grid-column: span 2; }
}

@media (max-width:1240px) {
  .client-site.featured { grid-template-columns: 1fr 76px;
    figure { grid-column: 1; display:none; }
    figcaption { grid-column: 1;}
    .tech { grid-column: 2; grid-row: span 2; }
  }
}


@media (max-width:700px) {
  .client-sites { grid-template-columns:1fr; }
  .client-site.featured { grid-column: span 1; }
}

@media (max-width:510px) {
  .client-site.featured { grid-template-columns: 1fr; gap:20px;
    .tech { grid-column: 1; grid-row:span 1; flex-direction: row;
      svg { height:32px; width:32px; }
    }
  }
}