.client-site-callout { border:3px solid rgba($black,0.3); color:#444; padding:20px;
  display:flex; align-items: center; justify-content: center;
  .title { font-size:240%; font-weight: 725; } 
  .cta { font-size:160%; padding-top:20px; } 
  a { color:$orange; text-decoration: none;
    &:hover, &:focus { text-decoration: underline; }
  }
}


section.client-site-overview { grid-column: 1 / -1; }

section.client-site-tech { grid-column: 1 / -1; padding:30px 20px 20px 20px;
  // box-shadow: inset 6px 6px 16px rgba(0,0,0,0.5);
  border:3px solid rgba($black,0.3); color:#666;
  h2 { margin-bottom: 20px; }
  .tech { column-gap: 20px;
    @media (min-width:1820px) { columns: 8; }
    @media (min-width:1600px) and (max-width:1819px) { columns: 6; }
    @media (min-width:1380px) and (max-width:1599px) { columns: 4; }
    @media (min-width:1000px) and (max-width:1379px) { columns: 3; }
    @media (min-width:460px)  and (max-width:999px)  { columns: 2; }
    .icon-and-name { display:grid; grid-template-columns: 32px 1fr; gap:10px; margin-bottom: 20px;
      svg { fill:#666; }
    }
    .name { display:flex; align-items: center; font-size:135%; font-weight: 600; }
  }
  // @media (max-width:888px) { display:none; }
}

.client-site { display:grid; grid-template-columns: 460px 1fr 76px; grid-gap: 40px; background:white; box-shadow:$card-shadow; padding:20px;
  figure { grid-row: span 1;
    .screenshots { position: relative; padding:0 0 50px 0;
      &:not(.slick-initialized) { opacity: 0; }
      .slick-list { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:19px 0 0 0; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; cursor:grab; }
      .slick-dots { display: block; text-align: center; @include position(absolute,null,0,0,0);
        li { display: inline-block; padding:0 0.5em 0 0;
          button {  display: inline-block; line-height: 1.3em; height: 1em; width:1em; background:transparent; background: rgba($black,0.2); border:none; transition: background 0.2s linear; border-radius:50%; font-family: $font; padding:0; cursor: pointer; overflow: hidden; text-indent: -999px;  }
          &.slick-active {
            button { background:$black; cursor: default; }
          }
        }
      }
    }
  }
  .title { font-size:215%; line-height: 100%; padding-top:10px; word-break: break-word;
    span { background: linear-gradient(36deg, rgba($yellow,0.5), rgba($yellow,0.25));
      padding: 4px 24px 3px 13px; transform: translateX(-13px); display: inline-block; margin-bottom: 0.5em; }
  }
  .subhead { text-transform: uppercase; letter-spacing: 0.1em; font-weight:$bold; margin-bottom: 1em; }
  .description {
    line-height: 1.4; font-size:22px; max-width: 68ch;
    p:last-of-type { margin-bottom: 1em; }
  }
  .visit-site { font-size:0.85rem; margin-bottom: 1em;
    a { color:$orange; text-decoration: none; text-transform: uppercase;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
  p {  margin-bottom: 1em; }
  ol { list-style-type: decimal; margin-bottom: 1em;;
    li { margin-left: 1.25em;}
  }
  .tech { padding:20px; display:flex; flex-direction: column; justify-content: space-between;
    svg { width:100%;}
  }

  .tech {
    .tooltip { cursor: help; }
    .php { fill:$color-php; }
    .twig { fill:$color-twig; }
    .sass, .scss { fill:$color-sass;}
    .js, .javascript { fill:$color-js; }
    .vue { fill:$color-vue; }
    .pug { fill:$color-pug; }
    .jquery { fill:$color-jquery; }
    .craft { fill:$color-craft; } 
    .drupal { fill:$color-drupal; }
    .matomo { fill:$color-matomo; }
    .dotnet { fill:$color-dotnet; }
    .azure { fill:$color-azure; }
    .yaml { fill:$color-yaml; }
    .aos { fill:$color-aos; }
    .untappd { fill:$color-untappd; }
    .lottie { fill:$color-lottie; }
    .howler { fill:$color-howler; }
    .scrollmagic { fill:$color-scrollmagic; }
    .concrete5 { fill:$color-concrete5; }
    .gutenberg { fill:$color-gutenberg; }
    .jwplayer { fill:$color-jwplayer; }
  }


  &.simple { grid-template-columns: 1fr; grid-column: span 1; padding:1rem; gap:unset;
    .title {
      span { transform:unset; margin-bottom: 0.25em; }
    }
    .subhead { margin-bottom: unset; }
    figure { padding:0; margin-top:0.5rem;
      .screenshot { background-image:url(../img/client-sites/browser.png); background-size:cover; background-repeat: no-repeat; background-position: top center; padding:18px 1px 1px 1px; border:1px solid rgba(0,0,0,0.4); overflow: hidden; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    }
    .visit-site { padding-top: 1rem; }
    .tech { flex-direction: row;
      svg { height:32px; width:32px; }
    }

  }
}

@media (min-width:1401px) {
  .client-sites { grid-template-columns: repeat(3,1fr); }
  .client-site.featured { grid-column: span 3; }
}

@media (max-width:1400px) {
  .client-sites { grid-template-columns: repeat(2,1fr); }
  .client-site.featured { grid-column: span 2; }
}

@media (max-width:1240px) {
  .client-site.featured { grid-template-columns: 1fr; 
    .screenshots-carousel-wrapper { width:520px; margin-left:auto; margin-right: auto;  overflow: hidden;
      @media (max-width:590px) { width:360px; }
      @media (max-width:430px) { width:260px; }
    }
    
    .tech { flex-direction: row; gap:10px; flex-grow: 0;
      .tooltip { flex-basis: 42px;}
    }

    // figure { grid-column: 1; }
    // figcaption { grid-column: 1;}
    // .tech { grid-column: 1; grid-row: span 2; }
  }
}


@media (max-width:700px) {
  .client-sites { grid-template-columns:1fr; }
  .client-site.featured { grid-column: span 1; }
}

@media (max-width:510px) {
  .client-site.featured { grid-template-columns: 1fr; gap:20px;
    .tech { grid-column: 1; grid-row:span 1; flex-direction: row;
      svg { height:32px; width:32px; }
    }
  }
}