.project-summaries { padding:20px; display:grid; grid-template-columns: repeat(2,calc(50% - 15px)); grid-gap: 30px; 


  .project { display:grid; grid-template-columns: 200px 1fr; grid-gap: 20px; background:white; box-shadow:$card-shadow;

    .image-holder { background-size:cover; padding:10px; background-position: center; position: relative; overflow: hidden;
      a:hover, &.focus {
        img { transform: scale(1.09); }
      }
      .absolute-link { @include position(absolute,0,0,0,0); background-size:cover; background-position: center; transition: transform 0.25s ease;
        &:hover, &:focus { transform: scale(1.2); }
      }
    }
    figcaption { display:flex; flex-direction: column; justify-content: space-between; padding:16px 10px 10px 0; }
    .project-text { padding-bottom: 2rem; }
    .title { font-size:215%; line-height: 100%; word-break: break-word; padding-bottom: 10px;
      a { color:$orange; text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
    .subhead { text-transform: uppercase; letter-spacing: 0.1em; font-weight:$bold; padding-bottom: 10px; }
    .description { font-size:120%;
      a { color:$orange; text-decoration: none;
        &:hover, &:focus { text-decoration: underline;}
      }
      p:last-of-type { margin-bottom:0; }
    }

    
    .detail-row { display:grid; grid-template-columns:repeat(2, 1fr);
      .detail { @extend %truncate; }
      .invisible { display:none; }
      .label { font-size:80%; text-transform: uppercase; }
      .value { display: block; font-size:125%; @extend %truncate; }
      .repository {
        a { color: $orange; text-decoration: none;
          &:hover {  text-decoration: underline; }
        } 
      }
    }
  }

  .conference { background:$white; color:$black; padding:15px; margin-right: 15px; height:260px;
    &.prev { background-size:cover; background-position: center; position: relative;
      figcaption { background:rgba($white,0.8); @include position(absolute,null,null,0,0); padding:10px; color:$black;
        .name { font-size:130%; }
        .location { font-size:120%; }
      }
    }
    .name { font-size:180%; }
    a { color:$orange; text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    .location { font-size:135%; }
    .presenting { margin-top:0.7em; }
  }

  .conferences { padding:0; position: relative; overflow: hidden;
    background:$black; color:$white; box-shadow:$card-shadow;

    .slider-header { display: grid; grid-template-columns: 1fr 120px; grid-gap: 10px; padding:5px 15px;
      h2 { font-weight: $medium; letter-spacing: 0.05em; font-size:180%;
        sub { bottom:0; }
      }
      .more-holder { text-align: right; @include flex-center(); margin-left: auto;
        a { font-size:130%; color:$lightOrange; text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
    }

    .slick-slider { padding-bottom: 40px; }
    .slick-initialized.slick-slider { margin-right:-15px;}
    .slick-arrow { bottom: 5px; height:30px; line-height: 30px;
      &.slick-next { right:20px; }
    }
  }

}
@media (min-width:2150px) { 
  .project-summaries { grid-template-columns: repeat(3,calc(33.333333% - 15px)); }
}


@media (max-width:1500px) { 
  .project-summaries { grid-template-columns: 1fr;
    .project { grid-template-columns: 120px 1fr; }
  }
}


@media (min-width:1171px) {
  .project-summaries { 
    .project {
      .image-holder {
        img { width:100%; height: auto; }
      }
    }
  }
}
@media (max-width:1170px) {
  .project-summaries { 
    .project { grid-template-columns: 1fr;
      .image-holder { height:72px;
        img { height:100%; width:auto; margin-left: auto; margin-right: auto; }
      }
      figcaption { padding-left:20px;}
    }
  }
}

@media (min-width:888px) and (max-width:940px) {
  .project-summaries {  grid-template-columns: 1fr;
  }
}

@media (max-width:610px) {
  .project-summaries {  grid-template-columns: 1fr;
  }
}


@media screen and (min-width:888px) {
  main { margin-left: $sidebar; padding-top: 2em; }
}