.talk-grid { display: grid; gap:30px; padding-left: 30px; padding-right: 30px; padding-bottom: 30px;
  .conference { background-color:white; box-shadow:$card-shadow; padding:15px; position: relative; min-height: 240px;
    img.flag { width: 3rem; float: right; margin-left: 10px; margin-bottom: 10px; outline: 1px solid rgba(#444,0.35); }
    img.virtual-icon { width: 3rem; float: right; margin-left: 10px; margin-bottom: 10px; }
    .name { font-size:210%; }
    a { color:$orange; text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    .location { font-size:115%; letter-spacing: 0.1em; }
    .date { font-weight: bold; }
    .presenting { margin-top:0.5em; }
    .multiple-talks {
      li { margin-bottom: 0.4em; }
    }
    .talk-supplements { white-space: nowrap;
      .keynote, .workshop, .blind-deck { font-weight: 700; }
      &:before { content: " ( "}
      > span { 
        &:after { content: " | "; }
        &:last-child:after { content:"";  }
      }
      &:after { content: " )"}
    }
    &.photo-background {
      min-height: 22rem;
      @media (min-width:771px) {
        grid-row: span 2; grid-column: span 2;
      }
    }
  }

  .airport-map { margin: unset; padding:unset; background-color: red;
    iframe { aspect-ratio: 5/3; width:100%; margin: unset; padding:unset; margin-bottom: -7px; }
    @media (min-width:771px) {
      //grid-row: span 2; grid-column: span 2;
      grid-column: span 2;
    }
  }

  .leading {
    h2 { font-weight: $light; font-size:260%; letter-spacing: 0.1em; padding-top: 1em; }
  }

  .conference { display: flex; justify-content: space-between; flex-wrap: wrap; align-content: space-between; min-height: 16rem;
    > * { flex-basis: 100%; }
  }

  .pics { z-index: 3; padding-top:2rem;
    .pic { padding:0; border:none; background-size:cover; display:inline-block; background-position: center; cursor: pointer; background-repeat: no-repeat; position: relative;
      img { height:72px; width:72px; object-fit: cover; object-position: center; }
      &:before { @include position(absolute,0,0,0,0); background:$orange; content:''; display: block; mix-blend-mode: color; opacity: 0; }
      &:hover, &:focus, &:active, &.active {
        &:before { opacity: 0.5; }
      }
      &.inactive { opacity: 0.5; 
        &:hover, &:focus { opacity: 1; }
      }
    }
    .close-cardpic { position: absolute; top:0; right:0.75rem; font-size: 36px; display:none; text-decoration: none; color:$orange; background-color: transparent; border:none; font-family: $font;
      &:hover, &:focus { color:white; text-shadow: 0 0 3px black; }
    }
  }


  .cardpic { @include position(absolute,0,0,0,0); background:#111; display: none; background-position: center; background-size:contain; background-repeat: no-repeat; z-index: 2; }

  .photo-background { min-height: 22rem;
    .pics .close-cardpic { display:block; cursor: pointer;  }
    .cardpic { display: block; }
  }

  figure.map { background-image:url(../img/worldmap.png); background-size:cover; @include flex-center(); min-height: 270px; border:4px solid rgba($black,0.3);
    a { color:$orange; text-decoration: none; font-size:46px; font-weight: $medium;
      &:hover { text-decoration: underline; }
    }
  }

  figure.decks { border:4px solid rgba($black,0.3); color:#444; background:rgba(#444,0.1); padding:20px; display:flex; align-items: center; justify-content: center;
    a { color:$orange; text-decoration: none; font-size:32px;
      &:hover { text-decoration: underline; }
    }
  }
  
  .back-home { border:4px solid rgba($black,0.3); color:#444; background:rgba(#444,0.1); padding:20px; display:flex; align-items: center; justify-content: center;
    a { color:$orange; text-decoration: none; font-size:32px;
      &:hover { text-decoration: underline; }
    }
  }

  .all-stamps { display: flex; flex-wrap: wrap; gap:20px; justify-content: space-evenly; }
  .passport-stamps { grid-column: span 3; background-image:url(../img/passport-bg.jpg);
    background-size: cover; background-position: top center; background-repeat: no-repeat; padding:20px;
    h3 { margin-bottom: 1em; }
    .stamp { display: inline-flex; box-shadow:$card-shadow; padding:10px; gap:0.5em; flex-basis: 24ch; flex-shrink: 1;
      background-color: $white;
      .icon { flex-basis: 50px; display: flex; align-items: center; justify-content: center;
        img { width:100%; }
      }
      .text {  display: flex; align-items: center; justify-content: center;  flex-grow: 1; flex-shrink: 1; }
      .count { flex-basis: 2ch; flex-grow: 1; flex-shrink: 1; }
    }
  }
}

.talk-grid { 
  @media (min-width:401px) { grid-template-columns:repeat(auto-fill, minmax(340px, 1fr)); }
  @media (max-width:400px) { grid-template-columns:1fr; }
}
