$card-shadow: -4px -4px 8px rgba(0,0,0,0.3);



// Tech Colors
$color-vue: #4FC08D;
$color-php: #777BB4;
$color-sass: #CC6699;
$color-js: #F7DF1E;
$color-pug: #A86454;
$color-jquery: #0769AD;
$color-craft: #E5422B;
$color-matomo: #3152A0;
$color-dotnet: #512BD4;
$color-azure: #0078D4;
$color-yaml: #444;
$color-aos: #26a;
$color-untappd: #FFC000;
$color-lottie: #2BEAED;
$color-howler: #786956;
$color-scrollmagic: #3b46a0;
$color-concrete5: #017ddd;