$card-shadow: -4px -4px 8px rgba(0,0,0,0.3);

$true-black: #101010;


// Tech Colors
$color-vue: #4FC08D;
$color-php: #777BB4;
$color-twig: #78DC50;

$color-sass: #CC6699;
$color-js: #F7DF1E;
$color-pug: #A86454;
$color-jquery: #0769AD;
$color-craft: #E5422B;
$color-kirby: #000000;
$color-json: #000000;
$color-matomo: #3152A0;
$color-dotnet: #512BD4;
$color-azure: #0078D4;
$color-yaml: #444;
$color-aos: #26a;
$color-untappd: #FFC000;
$color-lottie: #2BEAED;
$color-howler: #786956;
$color-scrollmagic: #3b46a0;
$color-concrete5: #017ddd;
$color-gutenberg: #000000;
$color-drupal: #0678BE;
$color-jwplayer: #ec0041;
$color-vimeo: #1AB7EA;
$color-platform-sh: #1A182A;
$color-xata: #8B6FFB;
$color-typescript: #3178C6;
$color-vite: #646CFF;
$color-wordpress: #21759B;