include partials/_variables.pug
include partials/_clientSites.pug
- const pageTitle = "Some websites I made for clients"
- const slug = "clients"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body

    include ../html/comment.html    
    include partials/_schema.pug

    include partials/_aside.pug

    script.
      function formatDate(e) {
        let allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
        let MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
        let g = e.split("-");
        return '<time>' + MonthAbbr[parseInt(g[1] - 1)] + ' ' + g[2] + ", " + g[0];
      }
    
    main.project-summaries.client-sites

      section.client-site-overview
        h1 Here are some websites I made for clients...

      each s,index in clientSites

        +clientSiteSummary(s)
    
    include partials/_javascripts.pug