include partials/_variables.pug
include partials/_clientSites.pug
- const pageTitle = "Some websites I made for clients"
- const slug = "clients"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
    link(rel="canonical" href=siteURL+"/clients")
  body
    include ../html/comment.html    
    include partials/_schema.pug
    include partials/_left-side.pug
    script.
      function formatDate(e) {
        let allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
        let MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
        let g = e.split("-");
        return '<time>' + MonthAbbr[parseInt(g[1] - 1)] + ' ' + g[2] + ", " + g[0];
      }
    
    main.project-summaries.client-sites

      section.client-site-overview
        h1 Here are some websites I made for clients...

      each s,index in clientSites

        +clientSiteSummary(s)

        if index == 4
          - let displayedTech = []
          section.client-site-tech
            h2 Technologies used...
            .tech.listout
              each s,index in clientSites
                if s.cms && !displayedTech.includes(s.cms)
                  dl.icon-and-name
                    dt 
                      +techIcon(s.cms)
                    dd.name
                      span= s.cms
                  - displayedTech.push(s.cms)
                each tech,index in s.tech
                  if !displayedTech.includes(tech)
                    dl.icon-and-name
                      dt.icon 
                        +techIcon(tech)
                      dd.name
                        span= tech
                    - displayedTech.push(tech)
    
    include partials/_javascripts.pug