include partials/_variables.pug
- const pageTitle = "Hi, my Name is Lemon."
- const slug = "index"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug

  body
    include partials/_aside.pug
    
    main.project-summaries

      +talkSlider('upcoming')

      each s,index in lemonSites

        if index == 4
          +talkSlider('previous')

        +projectSummary(s)
    
    include partials/_javascripts.pug