include partials/_variables.pug
- const pageTitle = "Hi, my name is Lemon."
- const slug = "index"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
    link(rel="canonical" href=siteURL)
  body


    include ../html/comment.html
    include partials/_schema.pug

    include partials/_left-side.pug

    main.project-summaries
      each s,index in lemonSites  

        if index == 1
          +talkSlider('upcoming')

        if index == 5
          +talkSlider('previous')

        if index == 11 
          .client-site-callout 
            .inner
              .title I also make websites for money.
              .cta 
                a(href="/clients") You wanna see some of those?

        +projectSummary(s)
    
    include partials/_javascripts.pug