include partials/_variables.pug
- const pageTitle = "Hi, my name is Lemon."
- const slug = "index"

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body

    //-

      Oh, hi there.
      Thanks for viewing source on my website.
      I hope you find something useful.

    include ../html/comment.html    
    include partials/_schema.pug

    include partials/_aside.pug

    script.
      function formatDate(e) {
        let allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
        let MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
        let g = e.split("-");
        return '<time>' + MonthAbbr[parseInt(g[1] - 1)] + ' ' + g[2] + ", " + g[0];
      }
    
    main.project-summaries      

      each s,index in lemonSites

        if index == 1
          +talkSlider('upcoming')

        if index == 3
          +talkSlider('previous')

        +projectSummary(s)
    
    include partials/_javascripts.pug