- var siteTitle = "Hi, my name is Lemon."
- var siteURL = "https://ahoylemon.xyz"
- var description = "I make a lot of stuff, including this website to show the stuff I make."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.site-cards
    
      section.card.talk-list
        h3.header Upcoming Talks
        ul.talks
          //-li
            .conference(href="https://sessions.minnestar.org") Minnebar 13
            a.title(href="https://sessions.minnestar.org/sessions/583") Literally ANYTHING But Wordpress
            time April 14th, 2018
            .city Richfield, MN
          li
            a.conference(href="https://ndcminnesota.com") NDC Minnesota
            .title(href="https://ndcminnesota.com/speaker/lemon-lemon/") Let's Build A Website, Right Frickin' Now!
            time May 10th, 2108
            .city St. Paul, MN
            .button-holder
              a.button(href="https://ndcminnesota.com/page/tickets" target="_blank") get tickets
          li
            a.conference(href="https://pubconf.io/") PubConf
            .title Please Your VP By Hating Your User
            time May 10th, 2018
            .city St. Paul, MN
            .button-holder
              a.button(href="https://www.eventbrite.co.uk/e/pubconf-minnesota-2018-tickets-45094584115" target="_blank") get tickets
      
      figure.card
        a.flipper(href="https://youtu.be/4YRuHRvniJM")
          .front(style="background-image:url(img/irl.jpg)")
            //-img.logo(src="img/irl.jpg")
          .back
            h3.title Me Making Websites IRL
            p Using an open source software called "Gource", I made this 3.5 minute YouTube video documenting the process of building most of the websites on this list, set to a Paper Chase song.
            p Not incredibly informative, but fun to look at.
            .launched December 19th, 2017
      
      figure.card
        a.flipper(href="http://trumps.pw")
          .front.big-logo(style="background-image:url(img/gold3.jpg); background-position:bottom center;")
            img.logo(src="svg/trumps.svg")
          .back
            h3.title Trump Family Passwords
            p This is a great and good service for members of the Trump family where Trumps can enter in their passwords to 
              i earn points!
            .launched December 4th, 2017
      
      figure.card
        a.flipper(href="https://greatsex.tips")
          //-.front(style="background-image:url(img/greatsex.jpg)")
          .front(style="background-color:#ef2525;")
            img.logo(src="svg/greatsex.svg")
          .back
            h3.title Great Sex Tips!
            p Birthed from a conversation about the editing process of Cosmo's sex tips, this is a site that generates hetero sex advice for women to please their men. How exhilerating!
            .launched November 13th, 2017
    
      figure.card
        a.flipper(href="https://dumb.men")
          .front(style="background-image:url(img/men-background.png); background-position:bottom center;")
            img.logo(src="img/men-foreground.png")
          .back
            h3.title dumb.men
            p This is a online web experience when men rain down from the sky! What kind of men? Well, it's up to you to find out.
            .launched November 4th, 2017
    
      figure.card
        a.flipper(href="http://badaccent.club")
          .front(style="background-color:#a5ed83;")
            img.logo(src="svg/badaccent.svg")
          .back
            h3.title badaccent.club
            p The game that puts your friends' accents to the test (and they will usually fail the test).
            .launched August 18th, 2017
    
      figure.card
        a.flipper(href="http://2un.ltd")
          .front(style="background-image:url(svg/2unltd-card.svg)")
          .back
            h3.title 2UN 🔵 LTD
            p This is a very important website that asks if if you're ready for this. And if you 
              i are 
              | ready for this, appropriate measures will be taken.
            .launched April 21st, 2017
    
      figure.card
        a.flipper(href="http://damn.dog")
          .front(style="background-color:#222730;")
            img.logo(src="svg/damndog.svg")
          .back
            h3.title damn.dog
            p The game that shows you an actual WikiHow illustration, and asks you which actual Wikihow article it came from.
            p Called "The Best Game On The Internet" by Gizmodo, this project has been the subject of literally hundreds of YouTube videos.
            .launched February 4th, 2016
      
      figure.card
        a.flipper(href="http://idiots.win")
          .front(style="background-color:#f1da5e;")
            img.logo(src="svg/idiots.svg")
          .back
            h3.title idiots.win
            p The game that challenges you to figure out what people are searching for on Google.
            p idiots.win takes a search query, sends it to Google for autocomplete suggestions, then randomizes them and asks you to guess the top.
            .launched June 2nd, 2016
            
      figure.card
        a.flipper(href="https://ahoylemon.github.io/jerking.online")
          .front(style="background-color:#f0f1f2;")
            img.logo(src="svg/fist.svg")
          .back
            h3.title Jerking Online
            p Working from a shockingly long list of fake porn titles my friends and I have come up with, this site promises new titles every day.
            p Cause it makes me giggle.
            .launched January 6th, 2017
            
      figure.card
        a.flipper(href="https://twitter.com/rickross_daily")
          .front(style="background-image:url(img/gold2.jpg);")
            img.logo(src="img/ross_circle.png")
          .back
            h3.title @rickross_daily
            p This twitterbot (which was either the idea of JW Friedman or myself, we can't remember) will inform you what Rick Ross is doing every day, every day.
            .launched September 5th, 2017
      
      figure.card
        a.flipper(href="http://partypartypartyparty.party")
          .front(style="background-color:#d1d1d1;")
            img.logo(src="img/party.png")
          .back
            h3.title PARTY PARTY PARTY PARTY PARTY
            p This is a button to help you party.
            .launched September 26th, 2016
            
      figure.card
        a.flipper(href="http://www.teamfortress.com/meetyourmatch/")
          .front(style="background-color:#EDF4F4;")
            img.logo(src="svg/swift.svg")
          .back
            h3.title pl_swiftwater
            p My friend Schwa and I collaborated on a Team Fortress 2 map called Swiftwater. He did the geometry, I did the art assets and built the story of a bottled water company at war with a chemical mining concern.
            p In 2016, it was bought by Valve and made official.
            .launched July 7th, 2016
    
      figure.card
        a.flipper(href="http://frankwest.xyz")
          .front(style="background-color:#e8d4ad;")
            img.logo(src="svg/frankwest.svg")
          .back
            h3.title Frank West Pronounces Emoticons
            p Frank West sometimes pronounces emoticons. And now, via this soundboard, he does it on your command.
            p Even in comparison to the other sites on this page, this one is really stupid.
            .launched June 15th, 2016
      
      figure.card
        a.flipper(href="http://ahoylemon.github.io/minnebar2016")
          .front(style="background-image:url(img/tyra.jpg)")
            img.logo(src="svg/jade-n-sass.svg")
          .back
            h3.title Write prettier code with Jade and Sass.
            p I did a talk on Jade & Sass for Minnebar2016. Afterwards, I put the slideshow I used up for public consumption.
            p Spacebar to advance screens.
            .launched April 23rd, 2016
      
      figure.card
        a.flipper(href="https://ahoylemon.github.io/PubConf/#/")
          .front(style="background-image:url(img/pubconf.jpg)")
            img.logo(src="svg/pubconf.svg")
          .back
            h3.title PubConf Minneapolis 2017
            p For the first PubConf in Minneapolis, I did a deck on the nature of popularity. It's an ignite deck, meaning it's 5 minutes with a strict 15-seconds-per-slide rule.
            p Also it might not make much sense without me talking over it. Oh well!
            .launched April 21st, 2017
      
      figure.card
        a.flipper(href="https://chrome.google.com/webstore/detail/hamilton-to-doom/hkedheclgkcdkjabeklkiifpbhlnaknd?hl=en-US&gl=US")
          .front(style="background-image:url(img/gold.jpg);")
            img.logo(src="img/doom320.png")
          .back
            h3.title Hamilton -> DOOM
            p This is a simple Chrome extension that replaces all instances of "Hamilton" with "the video game DOOM". For obvious reasons.
            .launched November 19th, 2016
      
      figure.card
        a.flipper(href="http://ahoylemon.github.io/sf-firings")
          .front(style="background-color:#e8d4ad;")
            img.logo(src="img/firings.png")
          .back
            h3.title Recent Firings In San Francisco
            p I wanted to make a site that would give the user up-the-second updates of who was just fired in the San Francisco Tech Industry.
            p In reality, it just works an alogorithm to generate random strings.
            .launched October 14th, 2015
            
      figure.card
        a.flipper(href="https://thefpl.us")
          .front(style="background-color:#dedcee;")
            img.logo(src="svg/thefplus.svg")
          .back
            h3.title The F Plus
            p I do a podcast, and also work a fair amount on the website for that podcast, which is a complicated piece of web development.
            p That said, I'm pretty happy with how this whole thing works.
            .launched December 14th, 2014
      
      figure.card
        a.flipper(href="http://ballp.it")
          .front(style="background-color:#150f34;")
            img.logo(src="svg/ballpit.svg")
          .back
            h3.title ballp.it
            p ballp.it is the forum set up to support the community that surrounds The F Plus. It uses PHP software called SMF, but has been modified heavily.
            .launched February 16th, 2013
      
      figure.card
        a.flipper(href="http://ahoylemon.github.io/wrongest.website")
          .front(style="background-color:#2d2929;")
            img.logo(src="svg/wrongest.svg")
          .back
            h3.title The Wrongest Words
            p The Wrongest Words is a multiplayer card game where players must defend the very stupid statements in front of them.
            .launched March 26, 2015
            p Retired:  
              b March 20th, 2017 
    
    include partials/_schema.pug
    include partials/_javascripts.pug