include partials/_variables.pug

//include partials/_sites.pug

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.project-summaries

      +talkSlider('upcoming')

      each s,index in lemonSites

        if index == 4
          +talkSlider('previous')

        +projectSummary(s)
        


  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
  script.
    $('.upcoming-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });

    $('.previous-conference-carousel').slick({
      prevArrow: '<button type="button" class="slick-prev slick-arrow">&lt;</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow">&gt;</button>',
      //arrows: false,
      dots: true,
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2
    });

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15129990-14', 'auto');
    ga('send', 'pageview');