include partials/_variables.pug
- const pageTitle = "Lemon uses technology."
- const slug = "uses"
- const pageURL = siteURL + '/uses'
- description = "A list of the technology that Lemon uses, in case you give a fuck."

doctype html
html(lang="en")
  head
    include partials/_mixins.pug
    include partials/_head.pug
  body
    include partials/_aside.pug
    
    main.site-cards
    
      section.fullpage
        article
          h1 The Things I Tend To Use In A Day
          .stamp
            span Last updated 
            +timeStamp('2022-07-14')
          p I just recently came across Wes Bos' 
            a(href="https://github.com/wesbos/awesome-uses") Awesome Uses
            |  repository. I thought it was interesting to look at the toolkit that other people used, and thought I'd provide my own. 
            i But
            |  sometimes the tools a person uses are more about something being the "good enough" option, so I thought I'd get a little more specific: Those things marked with a 
            span.yes
            |  are things which I think are great and totally recommend. Those things marked with a 
            span.no 
            |  are things which I've compromised into using for one way or another. It's the best I've found, but you could talk me into something else.


          //- Coding
          h3 Development
          ul.things
            li I write code using 
              +link("VS Code", "https://code.visualstudio.com/")
              | , having moved away from Brackets some time in 2018. My theme of choice is 
              +link("Plastic", "https://marketplace.visualstudio.com/itemdetails?itemName=will-stone.plastic")
              |  (with deprioritized punctuation).
            li.yes I almost always have 
              +link("Prepros","https://prepros.io")
              |  running to handle my Pug, Sass and JS files.
            li.yes When working with PHP I have 
              +link("XAMPP","https://www.apachefriends.org/index.html")
              |  running on my machine.
            li
              | I've never been particularly faithful to any one browser and change them around a lot, but right now my primary is 
              +link("Vivaldi", "https://vivaldi.com")
              | , my secondary is 
              +link("Firefox Developer Edition", "https://www.mozilla.org/en-US/firefox/developer")
              | , and I'll only use Chrome when I'm specifically using a Google product, like Meet or Docs.
            li I use 
              +link("GitHub Desktop", "https://desktop.github.com")
              |  every day and only use command line Git if I'm absolutely forced to.
            li.no When FTP is called for I use 
              +link("FileZilla", "https://filezilla-project.org")
              | . I've tried to move away from FileZilla a couple times but never found anything I liked better.
            li.yes I stopped using the Adobe Creative Cloud after leaving a job that was paying for it. I am now using 
              +link('Affinity Photo', 'https://affinity.serif.com/en-us/photo')
              |  and 
              +link('Affinity Designer', 'https://affinity.serif.com/en-us/designer/')
              |  and I personally like them beter than Photoshop/Illustrator.

          h3 Productivity, or what passes for it.
          ul.things
            li.yes
              | I started using 
              +link('Notion', 'https://www.notion.so/')
              |  and I use it a 
              em lot.
              |  It's primarily for note-taking and lists, but I try to keep as much as I can in Notion to keep everything organized.
            li
              | I use 
              +link("Mailspring", "https://getmailspring.com")
              |  for email and it's fine. Probably as good as email will be.
            li
              | I use the 
              +link("Slack app", "https://slack.com/downloads")
              | .
            li
              | I use 
              +link("1Password", "https://1password.com")
              |  to keep track of all my passwords (499 at the time of this post)

          h3 Hardware
          ul.things
            li 
              | My primary personal computer is a 
              +link('NZXT Starter Pro', "https://nzxt.com/product/starter-pro")
              | .
            li.no
              | My primary work computer is a 
              +link('2019 Macbook Pro','https://www.apple.com/macbook-pro/') 
              |  (the touch bar one)
            li.yes
              | I like mechanical keyboards. I've got a  
              +link("Redragon w/ Blue Switches", "https://www.redragonzone.com/products/redragon-k551rgb-mitr-rgb-backlit-mechanical-keyboard-with-blue-switches")
              |  that is 
              i loud as fuck
              | , and I love it. I've also got a 
              +link("Bejoy w/ Silent Red Switches", "https://www.bejoyusa.com/products/gm212-rgb-mechanical-gaming-keyboard")
              |  when I don't want my keyboard to be the loudes thing in the world.
            li
              | I use 
              +link("Anker vertical mice", "https://www.amazon.com/Anker-Ergonomic-Optical-Vertical-Buttons/dp/B00FPAVUHC")
              | .
            li
              | My phone is a 
              +link("Pixel 5a", "https://store.google.com/product/pixel_5a_5g?hl=en-US")
              | , using Google Fi.

          h3 Podcasting
          ul.things
            li.yes
              | My microphone is a 
              +link("Blue Yeti", "https://www.bluedesigns.com/products/yeti/")
              |  on 
              +link("this arm mount", "https://www.amazon.com/gp/product/B0082918X4/ref=oh_aui_search_asin_title?ie=UTF8&psc=1")
              | .
            li I record and edit episodes in 
              +link("Audacity", "https://www.audacityteam.org/")
            li
              | The F Plus uses 
              +link("Discord", "https://discordapp.com/")
              |  for all our VOIP.
            li
              | When an episode is edited, I use 
              +link("MP3TAG", "https://www.mp3tag.de/en/")
              |  to give that mp3 metadata.

          h3 Misc
          ul.things
            li.yes
              | My preferred messenging app is 
              +link("https://telegram.org", "Telegram") 
              | , and I'll use that with people who have an account. If they don't I'll use 
              +link('https://signal.org/en/', 'Signal')
              | .
            li
              | I use 
              +link("Pocket Casts", "https://www.pocketcasts.com/")
              |  for listening to podcasts. The Android app on the phone, and the Windows app on the computers. They sync together.
            li
              | I have a 
              +link("Deezer", "https://www.deezer.com/us/") 
              |   subscription, which is my personal choice for music.
            li
              | I sometimes buy games via Epic or Itch, but usually I'd prefer it thru Steam. The home computer has an ethernet connection to a 
              +link("Steam Link", "https://store.steampowered.com/app/353380/Steam_Link/")
              |  on the TV. Which works great like 90% of the time.
            li.yes
              | Also on that TV is a 
              +link("Nvidia Shield", "https://www.nvidia.com/en-us/shield/")
              |  for streaming just about anything. I have 
              +link("Kodi", "https://kodi.tv/")
              |  installed on it as one of the apps and I really love that program.

          p Hopefully some of that's interesting to you or else I don't know why you read this far. Now that we're done here, do you wanna go back and see 
            a(href="https://ahoylemon.xyz/") some of the stuff
            |  I've made?
          
    
    include partials/_schema.pug
    include partials/_javascripts.pug